createdAt: "2018-05-30T23:15:51.735Z"
updatedAt: "2018-05-30T23:22:00.791Z"
type: "MARKDOWN_NOTE"
folder: "9037f5322e315264945d"
title: "Rosenberg"
content: '''
  ## Rosenberg
  
  economia de mercado
  
  incentivos para inestigaciones cientificas para mejorar el rendimiento y reducir costos para el exito competitivo de las empresas
  
  progreso cientifico influenciado por el mercado
  
  laboratorios de investigacion industrial dependel de universidades y sus investigaciones
  
  antes 2gm -> ambito privado
  
  despues de 2gm -> gobiern
  
  EEUU investigacion cientifica universidades, industria privada
  
  
  Innovacion institucional, orien aloeman, cientificos corporativos, capacidad interna para aprovechar el flujo de informacion
  
  ingenieria no es ciencia aplicada
  
  mas ingenieria aumenta el porcentaje de que los hallazcos cientificos lleven a nuevos productos o mejoras
  
  demanda de mercado - desarrollo de la ingenieria - investigacion tecnologica, neuivos sectores rentables
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
