createdAt: "2018-03-15T22:50:36.241Z"
updatedAt: "2018-03-16T00:53:53.724Z"
type: "MARKDOWN_NOTE"
folder: "9037f5322e315264945d"
title: "Semana 3"
content: '''
  # Semana 3
  
  
  
  Mucha incentiva rev industrial primera mitad siglo 18
  
  Hubo algunas limitaciones
  
  - Limitacion de la sociedad al cambio
  - Falta de materia prima
  - No hubo suficiente pensamiento creador
  
  
  La industria debio esperar a que haya capital suficiente, precio suficientemente bajo para que sea viable la creacion de infraestructura. Caminos puentes, puertos muelles, son el prerrequisito para una comunidad manufacturera.
  
  
  La idea del porogreso tenia que muigrar de las mentes elegidas a todas.
  
  
  
  ### Empieza la revolucion
  
  En 1970 una ola de pequenios uinstrumentos inundo a inglaterra
  DIverssas innovaciones en agricultura, transportes, industria, comercio llegaron en una forma muy repentina.
  Ritmo muuuy acelerado
  Invension y expancion
  Nuevas areas para las empresas, bajo tasa de interes.
  Barreras que imponian la escazes dfe alimentos, combustibles, huerro, tarnsoporte desarapecian.
  LA desaparicion de obstaculos producjo una amplia liberacion, la innovacion una vez liberada se empezo a acelerar.
  
  ### Transformacion de la agricultura
  
  Se modifiracon las tecnicas de la agricultura. No fueron mejoras de maquinaria, No hubo un despoblamiento considerable sino que simplemente crecio la industria.
  Sin embargo hubo muchos inventos para mejorar las tecnicos.
  En 1776 aparecio una revfista y se empezo a ayudar a romper el aislamiento y la escaza vision del conjuntoque predominaba la vida rural.
  La agricultura so,lo mejoro en algunas zonas del pais
  
  Produccion destinada al mercado, estimul;o una especializacion geografica y un comercio interregional,.
  
  
  La constumbre tomo una parte menos importante, tomo mas relevancia la comepetencia en la determinacion de rentas y salarios
  
  
  Hubo una decadencia en los oficios rurales que significo una perdida para presupuestos familiares
  
  Una dieta mejor y mas variada mejoro la slaud y la duracion de vida de los obreros. Que se peude considerar una de las causas de la expansion de la produccion industrial
  
  ### Nuevas tecnicas mineria del carbon
  
  Tuvo progreso con pequenios incrementos.
  Produccion incrementada del huierro.
  Se pudo penetrar mayores profundidaes, se condujo a nuevas economias en el transporte subterraeo.
  
  Se disminuyo el costo de produccion. Vagoneta transportada sobre rieles, no era necesario vaciarla en el fondo del pozo, disminuyo costo de produccion
  
  Metodos de ventilacion ase mejoraron. Se puso en practica un sistema de triples perforaciones. y UN mejor sistema de conduccion de aire.
  LA explotacion del carbon permanecio identica pero se mejoraron muchas tecnicas
  Se empezo a usar la polvora para volar rocas.
  Se mejoro la iluminacion subterranea. Se incremento la produccion ya que se pudo investigar mas lugares
  
  ### Metalurgia
  
  Se mejoro la industria del hierro ya que crecieron los hornos en numero y tamanio
  
  Se sustituyo carbon vegetal por el coque.
  Se introdujeron tecnicas de pudelacion y maninado.
  
  Se utilizo el metodo de Cort
  Inglaterra pudo dejar de improtar grantes cantidad de carbon vegetal de Suecia y Rusia con las que tenia malas relaciones.
  
  Crecimiento de grandesempresas integrales
  Donde todos los metodos de transformacion eran controlados por un solo grupo de capitalistas.
  La industria se concentro en cuatro zonas principales
  El metal susttituyo la madera y la piedra en la construccion.
  Las industrias ferreteras expandieron sus productos y casi no huboalgun a ocupacion que no reaccionara ante un mercado que tenia a su disposicion una gran cantidad de hierro barato
  
  ### Innovacion en las formas de energia y en los mecanismos de transmision
  
  Watt empezo a hacer metodos de experimentacion sistematica, sintentizo las idea de los otros y las habilidades que eran precisas para crear la maquian vde vapor.
  
  Su maquina era superior a la maquian atomsferica y se usaba en muchos campos (bombear agua, cervecerias, destilerias, minas metaliferas) De todas maneras en las minas carboniferas no valia la pena sustituir las tecnologias actuales por la maquina a vapor de Watt.
  
  En la industria del hierro si se utilizo, para elevar el agua que era necesario para la idnstruia del huerro. Tuvo grandes efectos sobre la prodiccion.
  
  Perfecciono todavia mas su invencion vS e intento transformar el movimiento alternativo en movimiento de rotacion para impluslar la maquinaria. Maquina rotatoria de doble efecto, maquina de movimiento apralelo,. invento el regulador que le dio mas regulariodad y suavidad a la accion del vapor para controlar la energia destinada a metodos industriales delicados y complicados.
  
  La maquina giratoria fue istorica. Junto con el invento de cort para el pudelado y laminado y los de Arkright yCrompton cambio la vida de millares de hombres y muejores.
  
  Era evidwente que la revolucion tecnologia se habia iniciado en gran bretani. Las mas de 500 maquinas que se habian puesto en funcionamiento en INglaterra y algunas en el extranejjero formaron el eje sobre el cual la industria entro en la edad moderna.
  
  
  ## Transformacion de la industria textil del algodon
  
  En la manufactura de los textiles la transformacion fue mas rapido.
  El problema de la escacez de huilaza habia sido resuelto.
  
  Una mujer con una maquinaria imple podia mover hasta 8 hilos a la vez./
  En 1788 habia como veintemil de estas ma quinas.
  Eran muy practicas.
  La invencion fortalezio la economia familiar ya que el hilandero estaba en capacidad de mantenerse al nivel del tejedor.
  
  Aqui aparece Arkwright.
  Invento el bastidor.
  Se fabricaron los percales baratos, tejidos exlusivamente con algodon que fueron el primer paso dentro de la revolucion de la industria textil
  
  El bastidor necesitaba mas energia que el torno, desde un proincipio el procedimiento se utilizo en molinos o fabricas.
  
  Se dio cuenta que era necesara una energia mas poderosa que la humana para su invento. Se edifico entonces en 1777 la primera fabrica movida por eenrgia hidraulica.
  Cuando los hilanderos de manchester lograron revocar la patente que protegia el cardado mecanico, centenares de obreros establecieron fabricas en el campo en distintas ciudades.
  
  En 1785 aproximadamente cambio la situacion, hubo una nueva invencion.
  
  Crompton logtro producir una hilaza no solo fuerte, sino fina y apropiada para la urdimbre adaptable a todas las clases de tetiles.
  Como Debido a que a que la no se saco ninguna patente sobre lka hiladora intermitente en 1785 se liberaron para todos las patentes.
  
  El mismo anio la maquian de vapor de watt se aplico por primera vez a los hilados por medio de rodillos.
  
   Cuando el vapor se uso para mover a las hiladoras intermitentes fue posible establecer grandes fabricas dentro de las ciudades.
   
   No disminuyeron las fabricas rurales sin oque continuaron incrementandose debido a que gran parte de mas maquinas que debian su energia a la fuerza hidraulica tenian menor vibracion que las del vapor y eran mas aptas para fabricar hilos mas finos.
   
   ### Tejido
   
   El telar mecanico tuvo un oprogreso lento comparado con los hilados. Hubo que introducirle muchas mejoras antes de convertirlo en un util instrumento de produccion dentro de las fabricas.
   
   En 1820 luego de la geurra con francia se noto el incremento de telares mecanicos frente a los tejedorse manuales.
   
   ### Aplicaciones en la industria textil y produccion industrial de acidos, alcalodies y derivados del carbon
   
   
   Thomas bell en 1783 provoco que el estampado de percales fuera hecho por cilidros rotatorios movidos por energia no humana.
   Esto coniciodio con las mejoras en el cardado y en los hilados.l
   
   Revolucion tecnica que permition el nacimiento de grandes emprewsas.
   Reemplazar la leche agria por ell acido sulfidrico para lipiar la hojalata.
   
   (ufff)
   
   ### El cambio organizatvo como la clave de la innovacion industrial
   
   La familia Wedgwood desepmpenio un papel muy promienente en la industria de la alfareria.
   Tenia una gran organizadcio que fue modelo para muchas otras empresas.
   Perfecciono la alfareria , tenia una gran sissibilidad artistiuca.
    NO innovo demasaido la tecnologia sino que tuvo existo por crear productos utiles.
   El trabajo se realizaba mano, la reduccion de los costos se redujo m,ediante una mejro division del tarbajo. No invento Wedgwood ningun mecanismo importante pero fue un gran innovador Pero si un gran organizador. Selecciono muy vien a sus vendedores para evitar todo desperdicion. Convertion una fabricacion ruda y poco importante en un arte ielegante y elenento transcendente.
   
   ### El papel de la ingenieria en el proceso de innovaciones.
   De las nuevas actividades que nacieron , la de mayor importancia fue la ingenieria.
   El uingenierio civil es e,l descdendiende en linea directa del zapador militar en empezo sus funcioens en las guerras del siglo 17
   Las necesidades comerciales fueron las que motivarno mejoras en la vias de comunicacion. Nuevos caminos puentes canales ferrocarriles.
   Construidas no 0por el estado sino por comanias hombres de empresa desesos de desarrollar el comercio de la region de donde sdacaban grandes ganancias personales.
   Grandes terratenientes se distinguiero para dearrollar canales por ejemplo.
   
   
   ### Construccion de canales.
  Canalo de Wolverhamtpon iniciado en 1768 unio las tierras centrales con el rio severn.
   Fue durante el periodo de capital barato cuando la construccion de las vias de comunicacion alcanzo su maximo.
   Si bien no cabe duda que la maina por los canales durante anios condujo al desperdicio de algunas riquezas naturales, estas vias trajo respetables dividendos para los tenedores de acciones y iincremento en los ingresos realers de los britanicos en general
   La era de los canales fue corta pero provoc cambios dentro de la vida economica de inglaterra fundamentales.
   El precio de mercancias volumniosos o pesadas se redujuo grandualmente.
   LAs regiones agricolas entraron dentro del circulo cada vez mayor del intercambio.
   
   El temor a un habre regional desaraecio. y el mayor contanto con otros homres tambien fue posible
   
   LAs vias de comyuncacfion ejercieron una influencia civilizadora sobre las poblaciones alfareras y otras regione tierra aden tro.
   
   VIejos puertos decayeron pero aparecieron nuevas nuevas comunidades en puntos claves. la capacidad de competir de algunos centro de produiccion distantes se inctrmento. y las rentas de los situados cerca de los mercados o bien disminuyero o permaneceron estables.
   
   
   ### Construccion de caminos
   
   Desde 1750 se comenzo a hacer que los caminos de amoldaran al transito.
   Se incremento la capacidad de los caminoS.
   Se desarrollaron ls reales correros como medio de comunicacion,. el comerciante viajero reemplazo al cabalgador.
   
   ### Locomotora a vapor
   
   Se compenzaron a utilizara para transportar mercancias en general
   Eran medios adyacentes a los canales, no alrternatios.
   
   EN 1790se empezo a reemplazar la fuera de traccion de caballos por vapor.
   Watt obstaculizo el uso de la maquian a vapor para locomotoras. cuando su patente expiro  se analizo la utilizacion de locomotoras a vapor, pero no hasta 1812 se demostro la capacidad para poderaderir las ruedas lisas a los rieles lisos.
    Recien luego de 1830 se empezaron a ver las consecuencias de la navegacion a vapor.
    
  ### Logica de la innovacion
    Las innovaciones originaron nuevas innovaciones.LA mejora de un proceso cualqueira del a produccion con frecuencia prosiono a aquellos conectados con anterioridad, paralelos o po0esteriores.
    
  ### El contexto de los inventos patentados
  
  Aumentaron notablemente las patentes sacadas cada anio y incluso mayormente en anios que no fueron de guerra.
  
  
  ### Fase del proceso tecnico
  
  Hay una o dos fases distintas
   Hubo un lapsio entre la invencion y su aplicacion, en realidad las necesidades de la sociedad, la disponibilidad de materias primes, un cambio en la oferta de trabajo o dwe capital fueron lo que motivaron el uinicio de la aplicacion de las tecnoogias.
   
   ### Limites
   No hubieron desarrollos en las industrias que proporcionaban bienes de consumo, excepto la de la alfareria. Hubo muchas zonas incluso en 130 que sighuieron con el rigno dfe cien o mas anios atras.
   
    
   
'''
tags: []
isStarred: false
isTrashed: false
