createdAt: "2018-03-15T20:17:18.185Z"
updatedAt: "2018-03-19T23:14:14.038Z"
type: "MARKDOWN_NOTE"
folder: "58c175c2f5d0af47f676"
title: ""
content: '''
  
  
'''
tags: [
  "Ejprofesor"
]
isStarred: false
isTrashed: true
