createdAt: "2018-03-18T20:34:39.692Z"
updatedAt: "2018-04-01T03:35:21.623Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Recopilacion de propiedades"
content: '''
  # Recopilacion de propiedades
  **(Incompleto, falta pulir , emprolijar, completar)**
  
  (Ariel Nowik: anowik@itba.edu.ar )
  
  ## Por hacer: un resumen de las propiedades de funciones generalizadas
  
  
  ## Integrales delta de Dirac
  
  **(Revisado $\\checkmark$)**
  Sea $f$ continua a trozos, continua en $t_{0}$
  
  $$\\int_{-\\infty}^{\\infty}\\delta(t-t_{0})f(t)dt=f(t_{0}) $$
  
  $$\\int_{-\\infty}^{\\infty}\\delta^{(n)}(t-t_{0})f(t)dt=(-1)^n\\int_{-\\infty}^{\\infty}\\delta(t-t_{0})f^{(n)}(t)dt$$
  
  
  $$\\int_{a}^{b}\\delta(t-t_{0})f(t)dt  = \\begin{cases}
  f(t_{o}), & a< t_{0}< b \\\\
  0 & t_{0} <a \\lor t_{0} >b \\\\
  ?? & sino
  \\end{cases}
   $$
   
   # Fourier
  
  ### Serie trigonometrica
  **(Revisado $\\checkmark$)**
  
  Sea $X(t)$ periodica de periodo $T$, frecuencia $f_{0}$
  
  $$w_{n}=2\\pi f_{0}n=w_{0}n$$
  
  $$x(t) \\sim a_{0} +\\sum_{n=1}^{\\infty}a_{n}cos(w_{n}t)+b_{n} sin(w_{n}t)$$
  
  Donde
  $$\\begin{cases} a_{0}=1/T \\int_{t_{0}}^{t_{0}+T}x(t)dt \\\\
  a_{n}=2/T \\int_{t_{0}}^{t_{0}+T}x(t)cos(w_{n}t)dt \\\\
  b_{n}=2/T \\int_{t_{0}}^{t_{0}+T}x(t)sin(w_{n}t)dt\\end{cases}$$
  
  ##### Parseval serie trigonometrica
  
  $$2|a_{0}|^2+\\sum_{n=1}^{\\infty}|a_{n}|^2+|b_{n}|^2=\\frac{2}{T}\\int_{t_{0}}^{t_{0}+T}|x(t)|^2dt$$
  
  ### Serie exponencial
  **(Revisado $\\checkmark$)**
  
  $$x(t) \\sim \\sum_{n=-\\infty}^{\\infty}X_{k}e^{iw_{n}t}$$
  
  Donde
  
  $$X_k=\\frac{1}{T}\\int_{t_0}^{t_0+T}x(t)e^{-iw_nt}dt \\;\\; \\;\\;\\;\\; \\forall n \\; \\epsilon \\; R$$
  ##### Parseval serie exponencial
  
  $$\\sum_{k=-\\infty}^{\\infty}|X_{k}|^2=\\frac{1}{T}\\int_{to}^{to+T}|x(t)|^2dt$$
  
  ### Relacion Exponencial-Trigonometrica
  **(Revisado $\\checkmark$)**
  
  $$a_0=X_0$$
  $$X_n = \\frac{a_n-ib_n}{2} , n >0$$
  $$X_{-n} = \\frac{a_n+ib_n}{2},n > 0 $$
  $$a_n= 2Re(X_n)$$
  $$b_n= -2Im(X_n)$$
  ### Reglas relacionadas con los coeficientes de Fourier
  **(Revisado $\\checkmark$)**
  $$Im(x(t))=0  \\implies X_n=X_{-n}^{*}$$
  
  $$x(t)=x(-t) \\implies  \\begin{cases} b_n=0  \\\\ X_n=X_{-n}=a_n/2\\end{cases}$$
  $$x(t)=-x(-t) \\implies \\begin{cases}  a_n=0 \\\\ X_n=-X_{-n}=-ib_n/2\\end{cases}$$
  $$x(t)=-x(t+T/2) \\implies X_{2n}=0$$
  
  ### Convergencia
  **(Revisado $\\checkmark$)**
  
  #### Puntual
  - $X$ continua a trozos en $I=[t_0,t_0+T]$
  - Existen en $t$ $\\epsilon$ $I$ tanto $X'(t^+)$,$X'(t^-)$
  Luego
  $$S[X](t) \\to \\frac{X(t^+)+X(t^-)}{2}$$
  $$\\forall t \\; \\epsilon \\; [t_0,t_0+T] $$
  #### Uniforme
  
  - $X$ continua en $I=[t_0,t_0+T]$
  - $X'$ continua a trozos en $I=[t_0,t_0+T]$
  - $X(t_0)=X(t_0+T)$
  
  Luego
  
  $$S[X] \\to X (uniforme)\\; en\\; I $$
  
  ### Derivación
  
  - $X$ continua en $I=[t_0,t_0+T]$
  - $X'$ continua a trozos en $I=[t_0,t_0+T]$
  - Existen en $t$ $\\epsilon$ $I$ tanto $X''(t^+)$,$X''(t^-)$
  
  Luego
  $$S'[X](t) \\to \\frac{X'(t^+)+X'(t^-)}{2}$$
  $$\\forall t \\; \\epsilon \\; [t_0,t_0+T] $$
  Donde $S'[X]$ es la serie de fourier de $X$ pero derivada termino a termino
  
  ### Integración
  - $X$ continua a trozos en $I=[t_0,t_0+T]$
  
  $$s[X](t) \\to \\int_{t_0}^{t}X(u)du$$
  
  Donde $s$ es la serie obtenida de integrar termino a termino la serie de $X$ entre $t_0$ y $t_0+t$. 
  $s$ es una serie de fourier si y solo si $X_0=0$
  
  
  # Transformada de Fourier
  
  #### Algunas transformadas famosas
  
  $$e^{-\\alpha t}u(t) \\leftrightarrow \\frac{1}{\\alpha+i2\\pi f} , \\; \\; \\alpha >0$$
  
  $$ e^{\\alpha t}u(-t) \\leftrightarrow \\frac{1}{\\alpha-i2\\pi f}
  ,\\alpha >0$$
  
  $$\\prod(\\frac{t}{T}) \\leftrightarrow Tsinc(fT)$$
  $$\\bigwedge(\\frac{t}{T}) \\leftrightarrow T^2sinc^2(fT)$$
  $$u(t) \\to \\frac{1}{i2\\pi f}+\\frac{1}{2}\\delta(f)$$
  
  ### Propiedades
  $$x(t-t_{o}) \\leftrightarrow e^{i2\\pi t_0 f}X(f)$$
  $$x(at) \\leftrightarrow \\frac{1}{|a|}X(f/a)$$
  
  $$x'(t) \\leftrightarrow i2\\pi f X(f)$$
  
  $$F[x(t)(-2i\\pi t)^{(n)}]=X^{(n)}(f)$$
  
  $$F[(x*y)(t)](f) = X(f)Y(f)$$
  
  $$\\int_{-\\infty}^{\\infty} |x(t)|^2dt=\\int_{-\\infty}^{\\infty}|X(f)|^2df$$
  
  #### Paridades
  
  $x$ es real y par $\\implies$ $X(f)$ es real y par
  y vale
  $$X(f)=2\\int_{0}^{\\infty}x(t)cos(2\\pi ft)dt$$
  $x$ es real e impar $\\implies$ $X(f)$ es imaginaria e impar
  y vale que
  $$X(f)=-2i\\int_{0}^{\\infty}x(t)sin(2\\pi f t)dt$$
  
  $x$ es real $\\implies$ $X(f)=|X(f)|e^{j \\theta(f)}=Re(f)+iIm(f)$
  vale que
  
  $$|X(f)|, Re(f) \\to pares$$
  $$\\theta(f), Im(f) \\to impares$$
  
  #### Transformada de funciones periodias
  $$x(t) \\sim \\sum_{n=-\\infty}^{\\infty}X_ne^{i2n\\pi t/T} \\implies X(f)=\\sum_{n=-\\infty}^{\\infty}X_n \\delta(f-\\frac{n}{T})$$
  
  
  
  
  
  
  
'''
tags: [
  "Formulas"
]
isStarred: false
isTrashed: false
