createdAt: "2018-03-18T20:34:39.692Z"
updatedAt: "2018-03-26T19:59:31.278Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Recopilacion de propiedades de funciones generalizadas"
content: '''
  ## Recopilacion de propiedades de funciones generalizadas
  **(Incompleto, falta pulir , emprolijar, completar)**
  
  (Ariel Nowik: anowik@itba.edu.ar )
  
  ## Por hacer: un resumen de las propiedades de funciones generalizadas
  
  
  ## Integrales delta de Dirac
  
  **(Revisado $\\checkmark$)**
  Sea $f$ continua a trozos, continua en $t_{0}$
  
  $$\\int_{-\\infty}^{\\infty}\\delta(t-t_{0})f(t)dt=f(t_{0}) $$
  
  $$\\int_{-\\infty}^{\\infty}\\delta^{(n)}(t-t_{0})f(t)dt=(-1)^n\\int_{-\\infty}^{\\infty}\\delta(t-t_{0})f^{(n)}(t)dt$$
  
  
  $$\\int_{a}^{b}\\delta(t-t_{0})f(t)dt  = \\begin{cases}
  f(t_{o}), & a< t_{0}< b \\\\
  0 & t_{0} <a \\lor t_{0} >b \\\\
  ?? & sino
  \\end{cases}
   $$
   
   ## Fourier
  
  ### Serie trigonometrica
  **(Revisado $\\checkmark$)**
  
  Sea $X(t)$ periodica de periodo $T$, frecuencia $f_{0}$
  
  $$w_{n}=2\\pi f_{0}n=w_{0}n$$
  
  $$x(t) \\sim a_{0} +\\sum_{n=1}^{\\infty}a_{n}cos(w_{n}t)+b_{n} sin(w_{n}t)$$
  
  Donde
  $$\\begin{cases} a_{0}=1/T \\int_{t_{0}}^{t_{0}+T}x(t)dt \\\\
  a_{n}=2/T \\int_{t_{0}}^{t_{0}+T}x(t)cos(w_{n}t)dt \\\\
  b_{n}=2/T \\int_{t_{0}}^{t_{0}+T}x(t)sin(w_{n}t)dt\\end{cases}$$
  
  ##### Parseval serie trigonometrica
  
  $$2|a_{0}|^2+\\sum_{n=1}^{\\infty}|a_{n}|^2+|b_{n}|^2=\\frac{2}{T}\\int_{t_{0}}^{t_{0}+T}|x(t)|^2dt$$
  
  ### Serie exponencial
  **(Revisado $\\checkmark$)**
  
  $$x(t) \\sim \\sum_{n=-\\infty}^{\\infty}X_{k}e^{iw_{n}t}$$
  
  Donde
  
  $$X_k=\\frac{1}{T}\\int_{t_0}^{t_0+T}x(t)e^{-iw_nt}dt \\;\\; \\;\\;\\;\\; \\forall n \\; \\epsilon \\; R$$
  ##### Parseval serie exponencial
  
  $$\\sum_{k=-\\infty}^{\\infty}|X_{k}|^2=\\frac{1}{T}\\int_{to}^{to+T}|x(t)|^2dt$$
  
  ### Relacion Exponencial-Trigonometrica
  **(Revisado $\\checkmark$)**
  
  $$a_0=X_0$$
  $$X_n = \\frac{a_n-ib_n}{2}$$
  
  $$a_n= 2Re(C_n)$$
  $$b_n= -2Im(C_n)$$
  ### Relgas relacionadas con los coeficientes de Fourier
  
  $$Im(x(t))=0  \\implies X_n=X_{-n}^{*}$$
  
  $$x(t)=x(-t) \\implies  \\begin{cases} b_n=0  \\\\ X_n=X_{-n}=a_n/2\\end{cases}$$
  $$x(t)=-x(-t) \\implies \\begin{cases}  a_n=0 \\\\ X_n=-X_{-n}=-ib_n/2\\end{cases}$$
  $$x(t)=-x(t+T/2) \\implies X_{2n}=0$$
  
  ### Convergencia
  
  #### Puntual
  - $X$ continua a trozos en $I=[t_0,t_0+T]$
  - Existen en $t$ $\\epsilon$ $I$ tanto $X'(t^+)$,$X'(t^-)$
  Luego
  $$S[X](t) \\to \\frac{X(t^+)+X(t^-)}{2}$$
  $$\\forall t \\; \\epsilon \\; [t_0,t_0+T] $$
  #### Uniforme
  
  - $X$ continua en $I=[t_0,t_0+T]$
  - $X'$ continua a trozos en $I=[t_0,t_0+T]$
  - $X(t_0)=X(t_0+T)$
  
  Luego
  
  $$S[X] \\to X (uniforme)\\; en\\; I $$
  
  ### Derivación
  
  - $X$ continua en $I=[t_0,t_0+T]$
  - $X'$ continua a trozos en $I=[t_0,t_0+T]$
  - Existen en $t$ $\\epsilon$ $I$ tanto $X''(t^+)$,$X''(t^-)$
  
  Luego
  $$S'[X](t) \\to \\frac{X'(t^+)+X'(t^-)}{2}$$
  $$\\forall t \\; \\epsilon \\; [t_0,t_0+T] $$
  Donde $S'[X]$ es la serie de fourier de $X$ pero derivada termino a termino
  
  ### Integración
  - $X$ continua a trozos en $I=[t_0,t_0+T]$
  
  $$s[X](t) \\to \\int_{t_0}^{t}X(u)du$$
  
  Donde $s$ es la serie obtenida de integrar termino a termino la serie de $X$ entre $t_0$ y $t_0+t$. 
  $s$ es una serie de fourier si y solo si $X_0=0$
  
  
  #### Ejercicio 6
  No quiero calcular integrales
  
  $$y(t)=\\prod(t)sin(20\\pi t)$$
  
  Viva la linealidad, directo al grano
  
  $$y(t)=\\prod(t)(\\frac{1}{2i}e^{i20\\pi t}-\\frac{1}{2i}e^{-i20\\pi t})$$
  
  
'''
tags: [
  "Formulas"
]
isStarred: false
isTrashed: false
