createdAt: "2018-06-03T02:28:00.500Z"
updatedAt: "2018-06-03T02:28:50.371Z"
type: "MARKDOWN_NOTE"
folder: "82bec2fdf2f2d22d3517"
title: "Ecuacion del calor"
content: '''
  
  ### Ecuacion del calor 
  
  $$\\frac{{\\partial^2 u}}{\\partial x^2}=\\frac{1}{k}\\frac{\\partial u}{\\partial t} \\; \\; \\; \\; \\; 0<x<L \\; \\; \\; \\; 0<t$$
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
