createdAt: "2018-05-30T21:38:12.932Z"
updatedAt: "2018-05-30T21:51:48.289Z"
type: "MARKDOWN_NOTE"
folder: "9037f5322e315264945d"
title: "Giddens"
content: '''
  # Giddens
  Giddens nos habla de que no existe la posibildiad de que los problemas de la actualidad sean resueltos si la gente no realizan cambios en su estilo de vida.
  Por ejemplo:
  - La obesidad
  - La salud
  - El consumo de alchol
  - La conducta antisocial
  - El cambio climatico
  
  
  El esta tradicional intentaba intervenir cuando los propblemas ya estaban.
  
  - Si pierde el trabajo, le da prestaciones
  - Si tiene un hijo, se le ayuda
  - Si esta enfermo, el sistema de salud lo ayuda
  
  Hoy tenemos que ser mas intervecionistas y actuar antes de que los problemas esten, prevenir
  
  - Sobrepeso, cambio climatico ejemplos
  
  
  Que tanto alcance tiene la intervencion del estado
  - En ninios deberia ser mayor, por ejemplo deberian tener la posibilidad de comer comida saludable, limitar la publicidad a la que estan expuestos
  - En adultos se deberia por lo menos intentar que se cumpla que la libertad de uno no restriga la de los demas, por ejepmplo si derrochamos recursos de la tierar, estamos afectando la forma de vida de las generaciones futuras. 
  - Tambien la adiccion a las sustancias afecta la libertad ya que la persona no toma la decision por libre albedrio sino porque el habito las controla a ellas.
  
  ### Ejemplos de intervenciones
  
  Karelia del norte - Finlandia: habia muchas enfermedades relacionadas con el consumo de alimentos con grasas - se emprendio un programa para cambiar la dieta de las personas, tuvo exito, entre 1970-92 bajaron las indices en un 57%
  
  Cinturon de seguridad - un habito que reduce muertes
  Conduccion tras haber consumido alchol
  Reudir el consumo de tabaco - California, del 50% al 15%
  
  ### Caracteristicas de como piensa la gente
  
  Una persona esta dispuesta a cambiar si las personas a las que les tiene respeto cambian
  Impuestos - importantes, pero no tanto, por ejemplo no afectan demasiado en los comportamientos adictivos.
  Multiplicacion precio del tabaco, no parece que sea un factor por ejemplo
  
  ### Descuento hiperbolico
  
  Pensar a corto plazo, si hoy hay 50 y en un anio 100 tomamos los 50. Por ejemplo Reino unido bypass solo el 10% cambia su estilo de vida
  Actitud perezoza, calentamiento global, nadie le da importancia porque es a corto plazo.
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
