createdAt: "2018-05-30T22:25:36.417Z"
updatedAt: "2018-05-30T22:34:34.290Z"
type: "MARKDOWN_NOTE"
folder: "9037f5322e315264945d"
title: "Rifkin"
content: '''
  ### Rifkin
  
  Vida actual: Todo depende de los combustibles fosiles, la energia se produce de manera centralizada, hay una gran dependencia de unas pocas insituticones que controlan la generacion de energia, Y ademas el combustible fosil es limitado.
  
  Problemas
  
  - Dependencia de pocos paises, en particular paises arabes (en fundamentalismo islamico puede ser peligroso)
  - Calentamiento global por el uso de la energia
  
  Solucion
  
  Una economia descentralizada, distribuida, basada en el hidrogeno, descarbonizada
  
  - No habria calentamiento global
  - Los paises pobres tendrian la oportunidad de mayor acceso a la economia y al bienestar
  - Caracter mas democratico ,mas cooperativo, menores costos
  - En EEUU ya se hay experiencias
  - Enfoques diferentes al concepto estado nacion, mas descentralizados
  - Mas autosuficiente, depende del consumidor
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
