createdAt: "2018-03-15T20:55:26.879Z"
updatedAt: "2018-03-19T23:14:15.271Z"
type: "MARKDOWN_NOTE"
folder: "58c175c2f5d0af47f676"
title: ""
content: ""
tags: [
  "Ejprofesor"
]
isStarred: false
isTrashed: true
