createdAt: "2018-06-03T04:43:30.250Z"
updatedAt: "2018-06-03T04:43:32.631Z"
type: "SNIPPET_NOTE"
folder: "e58a84a619a157cea5b5"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
