createdAt: "2018-03-21T03:16:38.279Z"
updatedAt: "2018-03-21T22:29:49.026Z"
type: "MARKDOWN_NOTE"
folder: "3ffd0de1fe60507d8625"
title: "Notas"
content: '''
  ### Notas
  
  #### Partes del TP
  Introduccion
  Metodo operativo
  Analisis de resultados
  Conclusion
  
  $$\\frac{A}{B}$$
'''
tags: []
isStarred: false
isTrashed: false
