createdAt: "2018-03-26T20:39:02.308Z"
updatedAt: "2018-03-26T22:50:48.770Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Notas clase Nell 3/26/2018 segunda parte"
content: '''
  ### Notas clase Nell 3/26/2018 segunda parte
  
'''
tags: []
isStarred: false
isTrashed: true
