createdAt: "2018-03-26T20:39:02.308Z"
updatedAt: "2018-03-26T21:25:08.163Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Notas clase Nell 3/26/2018 segunda parte"
content: '''
  ### Notas clase Nell 3/26/2018 segunda parte
  
  Serie de fourier de $\\delta_t(t)$ (tren de pulsos)
  
  $$\\delta_t(t)=\\sum_{-\\infty}^{\\infty}\\frac{1}{T}e^{i2\\pi nt/T}$$
  
  $$F[\\delta_T(t)]=\\sum_{n=-\\infty}^{\\infty}\\frac{1}{T}\\delta(f-\\frac{n}{T})$$
  Para recordar!
  
  
  ## Transformada para x periodica
  
  asumimos $x(t)$ "buena", adminte d.s. fourier
  
  $$x(t) \\sim \\sum_{n=-\\infty}^{\\infty}X_ne^{i2n\\pi t/T}$$
  
  Recordar la transformada de la serie es la serie de las transformadas
  
  $$X(f)=\\sum_{n=-\\infty}^{\\infty}X_n \\delta(f-\\frac{n}{T})$$
  (transformada de una serie de fourier, **no es una serie de fourier**!)
  
  Ejercicio
  
  $$x_0(t)=\\bigwedge(t)$$
  
  $$F[x_0(t)]=sinc^2(f)$$
  
  
  que es $(x*y)$ ? (si converge)
  
  $$(x*y)(t)=\\int_{-\\infty}^{\\infty}x(\\tau)y(t-\\tau)d\\tau=\\int_{-\\infty}^{\\infty}x(t-\\tau)y(\\tau)d\\tau$$
  
  la delta hace como **neutro** en la convolucion! el producto de convolucion con deltas
  
  $$x(t)*\\delta(t)=x(t)$$
  $$x(t)*\\delta(t-t_0)=\\int_{-\\infty}^{\\infty}x(t-\\tau)\\delta(\\tau-t_0)d\\tau = x(t-t_0)$$
  
  
  
  Resolvemos
  
  $$x(t)=x_0(t)*\\sum_{n=-\\infty}^{\\infty}\\delta(t-4n)$$
  
  
  
  $$x(t)=\\sum_{n=-\\infty}^{\\infty}
  
  \\underbrace{x_0(t)*\\delta(t-4n)} 
  _{x_0(t-4n)}$$
  
  $$x(t)=\\sum_{-\\infty}^{\\infty}x_o(t-4n)$$
  
  
  como hallo $F[x(t)]?$
  
  Hay varias formas
  
  **1ra forma**:
  
  Hallo s.exp. de fourier de $x(t)$
  
  $$x(t) \\sim \\sum_{n=-\\infty}^{\\infty}X_ne^{i2n\\pi t/T}$$
  
  Como vale que 
  $$F[ {\\sum} ] = \\sum F[]$$
  
  Entonces
  $$X(f)=\\sum_{n=-\\infty}^{\\infty}X_n*\\delta(f-\\frac{n}{T})$$
  
  **Nota: ** Esta mal hacer esto
  
  $$F[\\sum_{n\\epsilon N}\\delta(t-nT)]=\\sum_{n\\epsilon N}F[\\delta(t-nT)]$$
  Te queda una serie divergente, el problema esta relacionado con ello
  
  **2da forma**
  
  llamo 
  $$x(t)=x_0(t)*\\sum_{n=-\\infty}^{\\infty}\\delta(t-n\\tau)$$
  Luego
  
  $$x(t)=x_0(t)*\\frac{1}{T}\\sum_{n=-\\infty}^{\\infty}e^{i2n\\pi t/T}$$
  
  $$X(f)= X_0(f)\\frac{1}{T}\\sum_{n=-\\infty}^{\\infty}\\delta(f-\\frac{n}{T})$$
  
  $$X(f)=\\sum_{n=-\\infty}^{\\infty}
  
  \\underbrace{ \\frac{1}{T}X_0(\\frac{n}{T})}_{X_n}\\delta(f-\\frac{n}{T}) $$
  
  
  COmentario de un caso
  si conozco la transformada de fourier de una y ahora quiero encontrar la serie de fourier?
  Son 
  $X_n=sinc^2(\\frac{n}{4})$
  
  Recordar transformada de una periodica quedan los deltas
  
  ### Ejercicio 7b
  
  $$x_0(t)=(1-t)u(t)u(1-t)$$
  
  No tenemos ganas de hacer partes... uff cuenta para casa, da
  $$X_0(t)=\\int_{0}^{1}(1-T)e^{-i2\\pi f t}dt$$
  
  sumo $x_0(t)$ y $x_0(-t)$ y obtengo el triangulito
  
  $$x_1(t)=x_0(t+1)+x_0(-(t-1))$$
  
  $$x_1(t)=x_0(t+1)+x_0(1-t)$$
  
  $$x_1(f)=e^{i2\\pi f 1}X_0(f)+e^{-i2\\pi f} F[x_0(-t)]$$
  
  $$=e^{i2\\pi f}X_0(f)+e^{-i2\\pi if}X_0(-f)$$
  
  
  Vamos a hacer parte de 13-14-15
  
  ## Recordar
  
  $$x_a(t)=e^{-\\alpha t}u(t) \\implies X_a(f)=\\frac{1}{\\alpha +i2\\pi f}$$
  $$x_b(t)=e^{\\alpha t}u(-t) \\implies \\frac{1}{\\alpha - i 2\\pi f}$$
  $(\\alpha>0)$
  
  ## Espectro de ampitud
  que es el espectro de amplitud?
  
  $$\\begin{cases} |X_a(f)| ; f \\epsilon R & esp. \\;de\\;amplitud \\\\
  arg(X_a(f)) \\; & esp. \\; de \\; fase\\end{cases}$$
  
  
  $$|X_a(f)|=\\frac{1}{\\sqrt{\\alpha^2+4\\pi^2f^2}}$$
  es una campana pero ojo que no es la campana de gauss
  
  $$\\frac{1}{2+3i}=\\frac{2-3i}{13}=\\frac{2}{13}-\\frac{3i}{13}$$
  
  
  $$arg(X_a(f))= arctg(-\\frac{2\\pi f}{\\alpha}) $$
  
  ufff arctg no sirve en todos los casos
  
  ## Ejercicio 8
  
  ## Ejercicio 9
  no se si van a poder
  
  10 es de cuentas
'''
tags: []
isStarred: false
isTrashed: false
