createdAt: "2018-06-21T02:24:05.635Z"
updatedAt: "2018-06-21T02:24:14.884Z"
type: "MARKDOWN_NOTE"
folder: "3ffd0de1fe60507d8625"
title: "$$ s^2+$$"
content: '''
  
  $$ s^2+$$
'''
tags: []
isStarred: false
isTrashed: false
