createdAt: "2018-03-15T02:33:34.885Z"
updatedAt: "2018-03-15T02:39:46.944Z"
type: "SNIPPET_NOTE"
folder: "f83b57a93a9ce69857ff"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippets as a single note, like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Enjoy Boostnote!</h1>
      </body>
      </html>
    '''
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var boostnote = document.getElementById('enjoy').innerHTML
      
      
      console.log(boostnote)
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
