createdAt: "2018-06-03T02:27:38.158Z"
updatedAt: "2018-07-22T13:39:05.186Z"
type: "MARKDOWN_NOTE"
folder: "82bec2fdf2f2d22d3517"
title: "Ecuacion del calor"
content: '''
  ### Ecuacion del calor 
  
  $$\\frac{{\\partial ^ u}}_{\\partial}$$
'''
tags: []
isStarred: false
isTrashed: true
