createdAt: "2018-06-03T04:43:33.849Z"
updatedAt: "2018-06-04T02:16:24.125Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Ecuaciones diferenciales"
content: '''
  # Ecuaciones diferenciales
  
  #### Pasos para resolver una ecaucion de Laplace con condiciones de frontera
  (Las otras ecuaciones tienen propcedimientos similares)
  Con una condicion de borde homogenea y una con una funcion arbitraria
  Por ejemplo,
  $$ \\begin{cases}
  
  \\frac{\\partial u^2}{\\partial x^2}+\\frac{\\partial u^2}{\\partial y^2}=0 \\\\
   u_y(x,0)=u_y(x,b)=0  & 0<x<a \\\\
   u_x(0,y)=f(y) \\; \\; u_x(a,y)=g(y) & 0<y<b
  \\end{cases}$$
  
  - Proponer para variables separables, $u(x,y)=X(x)Y(y)$
  - Considerando $u_{xx}=X''Y\\; \\;u_{yy}=XY''$ llegar a que deben valer, al mismo tiempo
  $$ \\begin{cases}
   Y''+\\lambda Y=0 \\\\
   X''-\\lambda Y=0
   \\end{cases} $$
  
  
  - Plantear la condiciones de borde homgeneas y llegar a condiciones de sturm liouville $Y'(0)=Y'(b)=0$ o si las condiciones de borde son sin derivadas $Y(0)=Y(b)=0$
  Con $X(x)$ no se puede plantear nada porque las condiciones tienen funciones.
  
  
  
  Aplicar formulas de sturm liouville
  ## Sturm Liouville
  $$f'(x)+\\lambda f(x)=0 \\; \\; \\; \\; \\; \\; 0<x<L$$
  Caso | $w _n^2=\\lambda_n$ | $f(x)$ 
  :---:|:---:|:---:
  $f(0)=f(L)=0$ | $(\\frac{n\\pi}{L})^2$ | $sin(w_nx) \\; \\; n \\epsilon N$
  $f'(0)=f'(L)=0$ | $(\\frac{n\\pi}{L})^2$ | $cos(w_nx) \\; \\; n \\epsilon N_0$
  $f(0)=0 \\; , \\; hf(L)+f'(L)=0 \\; ,\\;h>0$ | $\\mu_n^2\\; , \\; tan(\\mu L)=-\\frac{\\mu}{h}$ | $sin(w_nx) \\; \\; n \\epsilon N$
  $f(0)=0 \\; , \\; hf(L)+f'(L)=0 \\; ,\\;h<0$ | $[\\frac{(2n-1)\\pi}{2L}]^2$ | $sin(w_nx) \\; \\; n \\epsilon N_0$
  
  - Ahora que tenemos familias de soluciones para $Y_n(y)=cos(w_ny)$, necesitamos asociar familias de soluciones $X_n(x)$ para cada $Y_n(y)$ que provoquen que $u(x,y)$ verifique las condiciones de borde con funciones.
  
  - Como $u_n(x,y)=Y_n(y)X_n(x)$ verifica todas las condiciones anteriores menos las de borde con funciones, entonces se propone con superposicion
  
  $$u(x,y)=\\sum_{k\\epsilon N,N_0} \\underbrace{Y_n(y)}_{conocido}X_n(x) \\implies u_x(x,y)=\\sum_{k\\epsilon N,N_0} \\underbrace{Y_n(y)}_{conocido}X_n'(x)$$ 
  
  Que tambien verifica las condiciones anteriores menos las de borde con funciones. Ahora si, con esta $u(x,y)$ planteamos las condiciones de borde con funciones para obtener dos series de fourier
  
  $$f(y)=u_x(0,y)=\\sum_{k\\epsilon N,N_0} cos(w_ny) \\underbrace{X_n'(0)}_{a_n} \\; \\; \\; 0<y<a$$ 
  $$g(y)=u_x(a,y)=\\sum_{k\\epsilon N,N_0} cos(w_ny) \\underbrace{X_n'(a)}_{a_n'} \\; \\; \\; 0<y<a$$ 
  
  Por medio de las formulas de fourier, se obtienen entonces $X_n'(0),X_n'(a)$. 
  
  - Se resuelve entonces, para cada valor de n la ecuacion restante, que es una ecuacion diferencial con condiciones de borde.
  $$X_n''-\\lambda_nX_n=0 \\; \\; \\;X'_n(0)=a_n \\; \\; X_n'(0)=a_n'$$
  Aqui se plantean soluciones con cosenos y senos hiperbolicos
  $$
  \\begin{cases}
  X_n(x)=A_nsinh(w_n x)+B_ncosh(w_nx) & n\\geq1 \\\\
  X_0(x)=A_0x+B_0 & n=0
  \\end{cases}
  $$
  
  - Se despejan todos los $X_n$ segun corresponda y se expresa entonces la solucion
  $$u(x,y)=\\sum_{k\\epsilon N,N_0} \\underbrace{Y_n(y)X_n(x)}_{conocidos}$$
'''
tags: []
isStarred: false
isTrashed: false
