createdAt: "2018-06-03T04:43:33.849Z"
updatedAt: "2018-06-10T03:34:19.152Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Cambio para conseguir condiciones homogeneas"
content: '''
  
  ## Cambio para conseguir condiciones homogeneas
  
  supongamos que se tiene
  
  $$u(0,t)=T_0 \\; \\; \\; \\;u(a,t)=T_1$$
  el cambio 
  $$v(x,t)=u(x,t)-T_0+\\frac{T_0-T_1}{a}x$$
  consigue un problema de condiciones homogeneas. Se deberan conseguir las derivadas parciales de $v$ en funcion de las derivadas parciales de $u$
  
  #### Ecuaciones ordinarias 
  
  Para poder hacerlas debe conocerce una familia de los coeficientes de $a$ (en funcion de $n$) de lo contrario es un problema de Sturm liouiville
  
  |Forma|Solucion|Condiciones iniciales
  |:---:|:---:|:---:|
  |$X''+a_n^2 X=0 \\; \\;$ | $A_ncos(ax)+B_nsin(ax)$ | 2
  |$X''-a_n^2X=0 \\; \\;$ | $A_nch(ax)+B_nsh(ax)$ | 2
  |$X''=0$ | $A_0x+B_0$ | 2
  |$X'+a_nX=0$ | $A_ne^{-a_nt}$ | 1
  
  #### Series utiles
  $$f(x)=\\sum_{n\\epsilon N} b_nsin(w_nx) \\implies b_n=\\frac{2}{L}\\int_{0}^{L}f(x)sin(w_n x)dx \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; w_n=\\frac{\\pi n}{L}$$
  $$f(x)=\\sum_{n\\epsilon N_0}a_ncos(w_nx) \\implies a_n=\\frac{2}{L}\\int_{0}^{L}f(x)cos(w_nx)dx \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; w_n=\\frac{\\pi n}{L}$$ 
'''
tags: []
isStarred: false
isTrashed: false
