createdAt: "2018-05-30T23:08:19.706Z"
updatedAt: "2018-05-30T23:14:31.249Z"
type: "MARKDOWN_NOTE"
folder: "9037f5322e315264945d"
title: "Lovins"
content: '''
  ### Lovins
  
  whole-system engineering
  mejor todo el sistema trae mayores beneficios que mejorar solo componentes individuales
  
  Cambios graduales
  
  Critica gobierno - subsidia energias fosiles, fomenta producir mas energia en vez de mwejorar eficiencia
  
  Influencia de grupo, estar dispuesto a cambiar si el otro cambia (giddens) entre paises y gobiernos
  
  Combustibles emiten menos carbono
  
  Mejorar eficiencia
  
  Energias renovables baratas y efriciencias
'''
tags: []
isStarred: false
isTrashed: false
