createdAt: "2018-03-20T03:32:54.847Z"
updatedAt: "2018-03-20T04:31:17.623Z"
type: "MARKDOWN_NOTE"
folder: "58c175c2f5d0af47f676"
title: ""
content: ""
tags: [
  "Ejercicios"
]
isStarred: false
isTrashed: true
