createdAt: "2018-03-15T19:53:29.937Z"
updatedAt: "2018-03-28T04:28:46.981Z"
type: "MARKDOWN_NOTE"
folder: "58c175c2f5d0af47f676"
title: "Notas Clase 14/3/2018 (Rinaldi)"
content: '''
  
  ### Notas Clase 14/3/2018 (Rinaldi)
  (Ariel Nowik: anowik@itba.edu.ar )
  
  ### Observaciones del profesor
  
  - No hacer esto: 
  
  $$\\frac{m_{o}c^2\\gamma}{2}$$
  
  - Evitar pasar por el $\\gamma$ si es posible cuando se usan estas expresiones
  
  $$E = m_{0}c\\gamma$$
  $$E = K + E_{0}$$
  $$p = \\sqrt{ \\frac{E^2-E_{0}^2}{c} }$$
  
  
  ## Ejercicio 1 guia 2
  **(Revisado $\\checkmark$)**
   
  $$E=1.35*10^5 MeV$$
  
  $$\\triangle t'=2*10^{-8}s$$
  
  $S$ : Sistema de la tierra
  $S'$ : Sistema solidario al Pion
  $$d=120km$$ 
  (sobre el nivel del mar)
  
  (Dibujo en la carpeta)
  
  $d1:$ distancia recorrida por el pion medida desde la tierra
  
  Se necesita medir $d2$
  
  $d2=d-d1$ (todo en coordenadas terrestres)
  $E_{0}=139.6 MeV$
  
  $$\\triangle t = (\\triangle t' + \\frac{v}{c^2}\\triangle x')\\gamma$$
  
  Observar $\\triangle x' = 0$
  
  Por lo tanto la expresion anterior es equivalente a 
  $$\\triangle t'=\\gamma$$
  El inicio y el fin de su vida son eventos coincidentes en $S'$
  
  Por lo tanto
  
  $E = E_{0}\\gamma$
  
  Lo cual implica
  
  $$\\gamma=\\frac{E}{E_{0}}=\\frac{1.35*10^5}{139.6}=967$$
  
  $$\\triangle t = 2*10^8*967=1.93*10^{-5}$$
  
  $$d1=v*\\triangle t$$
  
  Despejamos $v$ la velocidad de S' con respecto a S
  No trabajar con el $\\gamma$ cuando hay aniquilacion de particulas
  
  $$v = 0.99c$$
  
  por lo tanto
  $$d1=v*\\triangle t = 0.99 *3*10^{8} * 1.93 * 10^{-5}=5790m = 5.8km$$
  $$d2 = 120 - 5.8 = 114.2 km$$ 
  (sobre el nivel del mar)
  
  ## Ejercicio 3 guia 2
  **(Revisado $\\checkmark$)**
  
  $$E_{0}=135 \\; MeV$$
  $$K=1  \\; GeV$$
  
  Se pide calcular la energia de los fotones
  (Nota: hay exceso de informacion)
  
  ## Inicialmente
  Inicialmente hay una particula con una velocidad inicial
  ## Finalmente
  En el instante final hay dos fotones que salen en la misma direccion X pero en sentidos opuestos.
  ## Observacion
  En el examen no me dicen el sentido en el que salen los fotones
  
  
  ## Continuamos la resolucion
  
  $$ E = E_{0} + k = 0.135 + 1 = 1.135 \\; GeV$$
  - Por conservacion de $E$:
  
  $$E = E_{f1} + E_{f2}$$
  
  $$E_{f1} + E_{f2} = 1.135$$
  (Ecuacion 1)
  
  Hay dos casos posibles, que los fotones vayan en el mismo sentido, o en sentido contrario
  
  Supongamos que los dos fotones van en el **mismo sentido**. Luego $p_t=p_1+p_2$
  
  Ecuacion 1
  - Por conservacion de $\\vec{p}$:
  
  $$\\frac{\\sqrt{E^2-E_{0}^2}}{c}=\\frac{E_{f_1}}{c}+\\frac{E_{f_2}}{c}$$
  
  Por lo tanto siguiendo la resolucion
  
  $$\\sqrt{E^2-E_{0}^2} = \\sqrt{1.135^2-0.135^2}=1.127 \\; GeV $$
  
  Por lo tanto deberia darse que $E_{f_1} + E_{f_2}$ sume dos numeros distintos, abusrdo.
  Esto implica que los fotones se mueven en sentido contrario, y por lo tanto $p_t=p_1-p_2$ (definimos sin perdida de generalidad 1 como el foton que va hacia adelante y 2 el que va hacia atras)
  
  
  
  Por lo tanto
  
  $$\\frac{\\sqrt{E^2-E_{0}^2}}{c}=\\frac{E_{f_1}}{c}-\\frac{E_{f_2}}{c}$$
  
  $$E_{f1}-E_{f2}=1.135$$ 
  
  (Ecuacion 2)
  
  De 1 y de 2 se deduce
  
  $$E_{f1}+E_{f2}=1.135$$
  $$E_{f1}-E_{f2}=1.127$$
  $$2E_{f1} = 2.262$$
  $$E_{f1}=\\frac{2.262}{2}=1.131 Gev$$
  $$E_{f2}=1.135-E_{f1}=1.135-1.131=0.004 GeV = 4 MeV$$
  
  ## Resolucion item B
  **(Revisado $\\checkmark$)**
  
  Hay un dibujo que hice en la carpeta de las situaciones inicial y final
  
  Por conservacion de $\\vec{E}$
  
  $$E_{f1}+E_{f2}=1.135$$
  
  Por conservacion de $\\vec{p}$
  
  Analizo el versor $\\hat j$
  
  $$0 = \\frac{E_{f1}}{c}sin{\\theta}-{\\frac{E_{f2}}{c}sin{\\theta}}$$
  
  $$E_{f1}=E_{f2}$$ 
  Por lo tanto
  $$2E_{f1}=1.135$$
  
  $$E_{f1}=\\frac{1.135}{2}=0.569 GeV$$
  
  ### Ejercicio 4 guia 2
  **(Revisado $\\checkmark$)**
  
  $$E_{OA}=m_{0}c^2$$
  $$k_{1}=2m_{0}c^2$$
  $$E_{OB}=m_{0}c^2$$
  
  Por conservacion de $E$
  
  $$E_{A} + E_{OB} = E_{c}$$
  $$m_{0}c^2+2m_{0}c^2+2m_{0}c^2=E_{c}$$
  $$E_{c}=5m_{0}c^2$$
  
  Por conservacion de $\\vec{p}$
  
  $$p_{a}=p_{c}$$
  $$\\sqrt{\\frac{E_{A}^2-E_{OA}^2}{c}}=\\sqrt{\\frac{E_{c}^2-E_{OC}^2}{c} }$$
  
  $$(3m_{o}c^2)^2 - (m_{0}c)^2 = (5m_{0}c^2)^2 - (M_{0}c^2)^2$$
  
  $$m_{0}^2c^4-m_{0}^2c_{4} = 25m_{0}^2c^4 - M_{0}^2c^{4}$$
  
  $$M_{0}^2=25m_{0}^2-9m_{0}^2+m_{0}^2=17m_{0}^2$$
  $$M_{0}=\\sqrt{17}M_{0}$$
  
  
'''
tags: [
  "Formulas"
]
isStarred: false
isTrashed: false
