createdAt: "2018-03-19T14:00:35.540Z"
updatedAt: "2018-03-19T14:21:03.464Z"
type: "MARKDOWN_NOTE"
folder: "82bec2fdf2f2d22d3517"
title: "Clase 3/19/2018"
content: '''
  ### Clase 3/19/2018
  
  Resolvimos 2 , 7 , 11 , 13
  
  
'''
tags: []
isStarred: false
isTrashed: false
