createdAt: "2018-03-16T00:54:39.204Z"
updatedAt: "2018-03-19T02:05:56.912Z"
type: "MARKDOWN_NOTE"
folder: "9037f5322e315264945d"
title: "Semana 1"
content: '''
  # Semana 1
  
  
'''
tags: []
isStarred: false
isTrashed: true
