createdAt: "2018-05-24T23:38:58.747Z"
updatedAt: "2018-05-24T23:42:23.344Z"
type: "MARKDOWN_NOTE"
folder: "6c095c0ea4ba6629f6a5"
title: "11 de junio - proba - mate 5"
content: '''
  
  ### 11 de junio - proba - mate 5
  ### 16 de junio - fisica 4
  ### 19 de junio - electrotecnia
'''
tags: []
isStarred: false
isTrashed: false
