createdAt: "2018-07-10T02:36:02.134Z"
updatedAt: "2018-07-10T03:44:18.548Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Bordes sin condiciones homógeneas"
content: '''
  # Bordes sin condiciones homógeneas
  Si se tiene 
  $$v(x,t)=\\begin{cases} \\alpha(t) & x=0 \\\\ \\beta(t) & x=L\\end{cases} $$
  Se propone
  $$u(x,t)=\\underbrace{\\alpha(t)+\\frac{x}{L}(\\beta(t)-\\alpha(t))}_{w(x,t)}+v(x,t)$$
  Y se corrige la ecuacion diferencial en consecuecia derivando y reemplazando
  
  De la misma forma si se tiene
  
  $$\\frac{\\partial u}{\\partial x}=\\begin{cases} \\alpha(t) & x=0 \\\\ \\beta(t) & x=L\\end{cases}$$
  Se propone
  $$u(x,t)=\\underbrace{\\alpha(t)+\\frac{x^2}{2L}(\\beta(t)-\\alpha(t))}_{w(x,t)}+v(x,t)$$
  
  # E.D.D.P.s Con Transformada de Fourier
  <img src="/:storage/fourier_bi.png">
  
  Son pocos casos y todos se resuelven solo aplicando la transformada de fourier, consiguiendo una ecuacion diferencial, y luego antitransformando.
  Existen algunas variaciones en como aplicar las condiciones de borde; se puede:
  - Antitransformar y luego aplicar las condiciones de borde
  - Transformar las condiciones de borde, aplicarlas, y luego antitransformar
  
  Siempre uno de los dos caminos es el más sencillo.  
  ## Formatos Tipo
  
  
  
  **Ejemplo 1: Primer orden**, Formato:
  $$\\frac{\\partial ^2u}{\\partial x^2}=\\frac{1}{k}\\frac{\\partial u}{\\partial t}\\;\\;\\;\\; x\\epsilon R\\;\\;t>0$$ 
  $$u(x,0)=f(x)$$
  
  **Ecuacion diferencial asociada**
  $$U_t(f,t)-\\underbrace{k4 \\pi^2f^2}_{a}U(f,t)=0 \\implies U(f,t)=U(f,0)e^{-k4\\pi^2f^2t}$$
  $$U(f,t) \\underbrace{\\to}_{F^{-1}}u(x,0)*\\frac{1}{\\sqrt{4\\pi kt}}e^{-x^2/(k4t)}=\\frac{1}{\\sqrt{4\\pi kt}}\\int_{-\\infty}^{\\infty}g(\\xi)e^{-(x-\\xi)^2 }d\\xi\\;\\;\\;\\;\\;\\;\\;\\;\\;t>0 $$
  $$u(f,t) \\underbrace{\\to}_{F^{-1}}g(x) \\;\\;\\;\\;\\;\\;\\;\\;\\;t=0$$
  **Ejemplo 2: Primer orden**, Formato:
  $$\\frac{\\partial ^2u}{\\partial x^2}-tu=\\frac{\\partial u}{\\partial t} \\;\\ ;\\; x\\epsilon R \\;\\; t>0$$
  $$U(x,0)=G(x)$$
  $$U_{tt}(f,t)+(t+(2\\pi f)^2)U(f,t)=0 \\underbrace{\\implies}_{variables\\;separables}U(f,t)=G(f)e^{-4\\pi^2f^2t-\\frac{t^2}{2}}$$
  $$U(f,t)\\underbrace{\\to}_{F^{-1}}g(x)*\\frac{1}{\\sqrt{4\\pi t}}e^{-t^2/2}e^{-x^2/(4t)}=\\frac{1}{\\sqrt{4\\pi t}}e^{-t^2/2}\\int_{-\\infty}^{\\infty}g(\\xi)e^{(x-\\xi)^2/(4t)}d\\xi\\;\\;\\;\\;\\;\\;\\;\\;t>0$$
  $$U(f,t) \\underbrace{\\to}_{F^{-1}}g(x)\\;\\;\\;\\;\\;\\;\\;t=0$$
  
  **Ejemplo 3: segundo orden**, Formato:
  $$\\frac{\\partial ^2u}{\\partial x^2}=\\frac{1}{c^2}\\frac{\\partial ^2 u}{\\partial t^2}\\;\\;\\;\\; x\\epsilon R\\;\\;t>0$$
  $$u(x,0)=g(x) \\; \\;\\ \\; \\;\\; \\; \\; \\; \\frac{\\partial u}{\\partial x}(x,0)=h(x)$$
  **Ecuacion diferencial asociada**
  $$ U_{tt}(f,t)+(2 \\pi fc)^2U(f,t)=0 \\implies U(f,t)=G(f)cos(2\\pi fct)+H(f)\\frac{1}{2\\pi fc}sin(2\\pi fct)$$
  **Ejemplo 4: segundo orden**, Formato:
  $$\\frac{\\partial ^2 u}{\\partial x^2}+\\frac{\\partial ^2u}{\\partial y^2}=0$$
  $$u(x,0)=g(x)$$
  (hay una condicion inicial pero al pedir que la solución sea acotada surgen las restricciones adicionales necesarias)
  **Ecuacion diferencial asociada**
  $$U_{yy}(f,y)-(2\\pi f)^2U(f,y)=0 \\implies U(f,y)=G(f)e^{-2\\pi|f|y}$$
  $$ G(f)e^{-2\\pi|f|y} \\underbrace{\\to}_{F^{-1}}g(x)*\\frac{4\\pi y}{(2\\pi y)^2+4\\pi^2x^2}=\\int_{-\\infty}^{\\infty}g(\\xi)\\frac{4\\pi y}{(2\\pi y)^2+4\\pi(x-\\xi)^2}d\\xi$$
  **Ejemplo 5: segundo orden**, Formato:
  $$\\frac{\\partial ^2 u}{\\partial x^2}+\\frac{\\partial ^2 u}{\\partial y^2}=c(x)$$
  $$u(x,0)=0 \\; \\;\\ \\; \\; u(x,1)=0$$
  **Ecuacion diferencial asociada**
  $$U_{yy}(f,y)-(2\\pi f)^2U(f,y)=G(f) \\implies U(f,y)=A(f)cosh(2\\pi fy)+B(f)sinh(2\\pi fy)+C(f)$$
  Resolucion muy complicada - pendiente
'''
tags: []
isStarred: false
isTrashed: false
