createdAt: "2018-04-10T23:18:15.216Z"
updatedAt: "2018-04-11T01:45:19.684Z"
type: "MARKDOWN_NOTE"
folder: "9037f5322e315264945d"
title: "Alberdi"
content: '''
  ### Alberdi
  
  1810-1884
  
  Afirmaba que por culpa del colonialismo español Argentina no tenia suficientes inmigrantes europeos, y por ello Argentina tenia una inferioridad frente a Estados unidos.
  Si bien la revolucion quebranto barreras, todavia se sienten en el sistema actual las consecuencias del sistema español
  
  En resumen queria que la constitucion defendiese
  
  - Inmigracion libre
  - Libertad de comercio
  - caminos dce fierro
  - industria sin trabas.
   
  Faltaba para alberdi en la argentina educacion de ciencias practicas y ade aplicacion
  
  "Europa nos traera su espiritu nuevo, sus habitos de industria, sus practicas de civilizacion, en las inmigraciones que nos envie"
  
  "Queremos en america la libertad inglesa, la cultura francesa, la laboriosidad Europea? Traigamos pedazos vivos de ellas en las constumbres de sus habitantes"
  
  "Queremos que los habitos de orden, de disciplina y de industria prevalezcan en nuestra America? Llenemosla de gente que posea hondamente esos habitos.
  
  "Las escuelas primerias, los liceos, las universidades, son por si solos, pobricimos medios de adelanto sin las grandes empresas de produccion, hijas de las grandes porcions de hombres"
  
  "Sin grandes poblaciones no hay desarrollo de cultura, no hay progreso considerable, todo es mezquino y pequeño"
  
  "No tendreis orden, ni educacion popular, sino por el influjo de masas introducidas con habitos arraigados de ese orden y buena educacion"
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
