createdAt: "2018-12-16T18:58:24.381Z"
updatedAt: "2018-12-16T18:59:08.228Z"
type: "MARKDOWN_NOTE"
folder: "3c6c7a866e29deea4be5"
title: "Criterio de barkhausen - justificación teórica"
content: '''
  
  ## Criterio de barkhausen - justificación teórica
  
  
'''
tags: []
isStarred: false
isTrashed: false
