createdAt: "2018-03-22T13:08:22.596Z"
updatedAt: "2018-03-22T14:55:08.121Z"
type: "MARKDOWN_NOTE"
folder: "82bec2fdf2f2d22d3517"
title: "Clase 3/22/2018"
content: '''
  ### Clase 3/22/2018
  
  
  Si X es V.A.C. 
  #### Algunas definiciones de repaso
  
  $$R_{x} = (a,b) \\; o \\; R_{x}= \\cup_{i}(a_i,b_i)$$
  
  Se denomina $f_x(x)$ funcion densidad de probabilidad
  
  Se define
  $$P(X \\epsilon (c,d))=\\int_{c}^{d}f_x(x)dx=F_x(d)-F_x(c)$$
  
  Por otro lado vale que
  
  $$\\begin{cases} f_x(x) \\geq 0 & \\forall x \\epsilon R \\\\ \\int_{-\\infty}^{\\infty} f_x(x) dx=1 \\end{cases}$$
  
  Se define
  
  $$F_x(x)=\\int_{-\\infty}^{\\infty}f_x(t)dt$$
  
  #### Valor esperado
  
  $$E_x= \\int_{-\\infty}^{\\infty} xf_x(x)dx$$
  
  En general
  
  $$E(G(X))=\\int_{-\\infty}^{\\infty}G(x)f_x(x)dx$$
  
  #### Varianza
  
  $$V(X)=E(X^2)-(E(X))^2=\\int_{-\\infty}^{\\infty}x^2f_x(x)dx-(E(X))^2$$
  
  
  #### Si X tiene distribucion uniforme vemos algunas cosas que suceden
  
  Es decir, si 
  $$X \\sim U(a,b)$$
  $$ X \\sim Exp(b) \\;\\;\\; b>0$$
  Cuando
  $$ f_{x}(x)=Ce^{-bx}I_{(0,+\\infty)}=\\begin{cases}Ce^{-bx} & x > 0 \\\\ 0 & x \\leq 0 \\end{cases} $$
  entonces vale que
  
  $$E(x)=\\int_{a}^{b}\\frac{xdx}{a-b}=\\frac{b^2-a^2}{2(b-a)}=\\frac{a+b}{2}$$
  
  $$V(X)=\\int_{a}^{b}\\frac{x^2dx}{b-a}-\\frac{b^3-a^3}{3(b-a)}=\\frac{b^3-a^3}{3(b-a)}-\\frac{(a+b)^2}{4}=\\frac{(b-a)^2}{12}$$
  
  $$\\sigma(X)=\\sqrt{V(X)}=\\frac{b-a}{\\sqrt{12}}\\approx 0.289(b-a)$$
  
  
  #### Un caso facil, funcion triangular
  
  
  
  $$f_{x}(x)=(1-|x|)I_{(-1,1)}(x)$$
  
  $$E(X)=0$$
  $$V(X)=E(X^2)=2\\int_{0}^{1}x^2(1-x)dx=2(\\frac{1}{3}-\\frac{1}{4})=\\frac{1}{6}$$
  $$\\sigma(X)=\\frac{1}{\\sqrt{6}} = \\approx 0.408$$
  
  #### Otro ejemplo
  
  $$ X \\sim Exp(\\lambda) \\;\\;\\; \\lambda>0$$
  
  $$ f_{x}(x)=Ce^{-b\\lambda}I_{(0,+\\infty)}=\\begin{cases}Ce^{-\\lambda x} & x > 0 \\\\ 0 & x \\leq 0 \\end{cases} $$
  
  $$\\int_{0}^{\\infty}e^{-\\lambda x} dx=\\frac{1}{\\lambda} ,\\;\\;\\; \\lambda >0$$
  
  $$\\int_{0}^{\\infty}xe^{-\\lambda x}dx=\\frac{1}{\\lambda^2}$$
  
  Por lo tanto
  
  $$E(X)=\\int_{0}^{\\infty}x e^{-\\lambda x}dx = \\frac{1}{\\lambda}$$
  
  Seguimos haciendo calculos para sacar la varianza
  
  $$ \\int_{0}^{\\infty}x^2e^{-\\lambda x}dx=\\frac{1}{\\lambda ^3}$$
  
  Por lo tanto
  
  $$V(X)=\\int_{0}^{\\infty}x^2\\lambda e^{-\\lambda x}dx - \\frac{1}{\\lambda^2}=\\frac{2}{\\lambda^2}-\\frac{1}{\\lambda ^2}=\\frac{1}{\\lambda^2}$$
  
  Se puede probar por induccion que dado $n$ $\\epsilon$ $N$
  $$\\int_{0}^{\\infty}x^{n-1}e^{-\\lambda x}dx=\\frac{(n-1)!}{\\lambda ^n}$$
  
  #### Propiedad
  $$\\int_{0}^{\\infty} {x^{n-1}}{e^{-x}dx=(n-1)!}$$
  
  #### Definicion en base a la propiedad
  
  Dado $z$ $\\epsilon$ $R$, se define la funcion gamma como
  
  $$\\Gamma(z)=\\int_{0}^{\\infty}x^{n-1}e^{-\\lambda x}dx$$
  
  Entonces usando la propiedad anterior, si en particular, $z$ $\\epsilon$ $N$, value que
  
  $$\\Gamma(z)=(z-1)!$$
  
  La funcion gamma la pensamos como on **factorial generalizado**
  
  ### Ejemplo de aplicacion
  
  Definimos la variable aleatoria
  $T$: Tiempo hasta la ocurrencia de la falla de un equipo 
  
  Que cumple que
  
  $$T \\sim Exp(\\lambda)$$
  
  $$E(T)=\\frac{1}{\\lambda}$$
  
  A esta esperanza se la denomina **MTBF**: la media de los tiempos del bueno funcionamiento
  mean time between failures en ingles
  
  Otras caractersiticas de $T$
  $$\\sigma(T)=\\frac{1}{\\lambda}$$
  
  $$P(E(T) - \\sigma(T) < T < E(T) + \\sigma(T)) = P(0<T<2/\\lambda)=
  
  \\underbrace{F_T(2/\\lambda)}_{1-e^{-\\lambda(2/\\lambda)}}-\\underbrace{F_T(0)}_{0} = 1-e^{-2} \\approx 0.865 $$
  
  
  ### Ejemplo
  
  Si 
  $$ \\lambda=10^3 $$
  
  El tiempo medio hasta que falla 1000 horas o ocurre una falla cada 1000 horas
  
  #### Definicion conceptual acerca de la variable anterior
  
  
  $\\lambda(t)$: Promedio de falla por unidad de tiempo$
  
  (Dibujo 4)
  
  El dibujo muestra que en el primer sector hay 
  - **Fallas infantiles** ($\\Gamma$ alto), (Sector inicial)
  - **Fallas al azar** ($\\Gamma$ muy bajo) (Sector medio)
  - **Fallas por envegecimiento** ($\\Gamma$ alto) (Sector final)
  
  Se dio un ejemplo con computadoras acer que fallan seguido
  
  Se dio un ejemplo de la utilizacion del acronimo **MTBF** para discos rigidos
  
  #### Propiedad ejercicio 8
  
  Dice que 
  $$P(X>x_{0}+d/X>x_{0}) =k \\;\\; \\forall x_{0}$$
  
  
  Es decir, la probabilidad de que un equipo no falle en un intervalo $(x_0,x_{0}+d)$ es la misma sin importar el lugar del intervalo sino tan solo su tamanio
  
  ##### Demostracion de la propiedad
  
  Por definicion
  $$f_X(x)=P(X \\leq x)$$
  Sea
  $$G_X(x)=P(X\\geq x) = 1-f_x(x)$$
  Como 
  $$x \\sim Exp(b)$$
  
  Luego
  
  $$F_x(x)=1-e^{-bx} \\;\\;\\; x > 0$$
  $$G_X(x)=e^{-bx}$$
  
  Por lo tanto
  
  $$P(X>x_{0}+d / X>x_0)
  
  \\underbrace{=}_{Proporcion}
  
  \\frac{P(X>x_0+d)}{P(X>x_0)}=\\frac{e^{-b(x_0+d)}}{e^{-bx_0}}=e^{-bd}$$
  
  #### Ejercicio 10 (guia 4)
  
  Notar $E(x)=1000 \\; h$
  
  Se plantea
  
  $$P(X>X_g)=e^{-\\frac{X_g}{1000}}=0.95 \\implies X_g \\approx 5.13 \\; h $$
  
  
  ##### Item B
  
  Necesitamos que funcione 100 o mas horas
  
  $$[G_x(100)]^5=(e^{-\\frac{100}{1000}})^2 = e^{-\\frac{5}{10}} \\approx 0.61$$
  
  Vale hacer el producto de ambos lados porque hay **Independencia**
  
  $A_k$: el displositivo $k$ dura $100 h$ como minimo
  $B$: el sistema dura $100h$ como minimo
  
  $$B=A_1 \\cap A_2 \\cap A_3 \\cap A_4 \\cap A_5$$
  
  $$P(A_k)=e^{\\frac{100}{1000}}$$
  $$P(B)=\\prod_{k=1}^{5} P(A_k)$$
  
  $Y$: Numero de sistemas que duran mas de 100 hs
  
  $$Y \\sim Bin(n=5,p = e^{-1})$$
  
  $$P(Y \\geq 3)$$
  lo deja para nosotros el calculo
  
  #### Nota
  El Ejercicio 13 es una generalizacion del 10
  
  Lo comenzamos a resolver
  $A_k$: el displositivo $k$ dura $t$ como minimo
  $B$: el sistema dura $t$ como minimo
  $$k = 1,2, ... ,n $$
  
  $$B=\\cap{A_{i}}$$
  
  $$P(A_k)=e^{-0.01t}, k=1,2,...,n$$
  $$P(B)=\\prod_{k=1}^{5} P(A_k) = 1-F(t)$$
  
  Por lo tanto
  $$e^{-0.1nt}=1-F(t)$$
  $$F(t)=1-e^{-(0.01n)t},\\;\\; t > 0$$
  
  $$T \\sim Exp(0.01n)$$
  
  $$E(T)=\\frac{1}{0.01n}=(\\frac{1}{0.01})\\frac{1}{n}$$
  
  #### Suponemos en paralelo (ejercicio adicional)
  
  El sistema falla antes de $T$ si todos fallan antes de $T$
  
  $$\\overline{B}= \\bigcup_{i=1}^{n}\\overline{A_k}$$
  
  $$P(\\overline{A_{k}})=1-e^{-0.01t}$$
  
  Por independencia
  
  $$
  \\underbrace{P(\\overline{B})}_{P(T<t)}
  
  =(1-e^{-0.01t})^2$$
  
  $$F(t)=(1-e^{-0.01t})^n$$
  
  #### Ejercicio 15 (guia 4)
  
  Se hace un cociente de probabilidad, la fraccion de que la falla este en $(t,\\triangle t)$ sabiendo que ya fallo despues de $t$
  
  $$\\frac{t<T<t+\\triangle t}{\\triangle t *P(T>t)}=\\frac{\\int_{t}^{t+\\triangle t} f(x)dx}{\\triangle t (1-F(t))}=(1)$$
  
  Notar que 
  
  $$t < \\zeta < t+\\triangle t$$
  
  Entonces vale que
  
  $$(1)=\\frac{f(\\zeta) \\triangle t }{ \\triangle t (1-F(t))}\\to\\frac{f(t)}{1-F(t)}$$
  
  
'''
tags: []
isStarred: false
isTrashed: false
