createdAt: "2018-06-26T17:32:15.414Z"
updatedAt: "2018-07-06T04:17:59.049Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: ""
content: '''
  <img src="/:storage/lista_demos.png" width=384 height=100>
  
  
  
  ###### (Ariel Nowik: anowik@itba.edu.ar - correcciones, sugerencias, consultas)
  
  Demostracion | Dificultad | Evaluada
  :---:|:---:|:---:|:---:
  **Series de Fourier** - Bessel |
  **Series de Fourier** - Convergencia uniforme |
  **Series de Fourier** - Convergencia puntual |
  **Series de Fourier** - Derivación/Integración |
  **Transformada Fourier** - Integral via convolución |
  **Transformada Fourier discreta** - Convolucion periodica |
  **Transformada Z** - integrales de linea |
  **Transformada Z** - Teorema valor final |
  
  
  #### Integrales turbias
  
  $$\\frac{2}{L}\\int_{0}^{L}xsin(\\frac{n\\pi}{L}x)dx=\\frac{-2(-1)^n}{\\pi nL}$$
  $$\\frac{2}{L}\\int_{0}^{L}xcos(\\frac{n\\pi}{L}x)dx=\\frac{-2(1-(-1)^n)}{\\ (\\pi n)^2L}$$
  $$\\frac{2}{L}\\int_{0}^{L}sin(\\frac{n\\pi}{L}x)dx=\\frac{2(1-(-1)^n)}{n\\pi}$$
  $$\\frac{2}{L}\\int_{0}^{L}sin(\\frac{n\\pi}{L}x)dx=0$$
'''
tags: []
isStarred: false
isTrashed: false
