createdAt: "2018-05-28T11:40:57.962Z"
updatedAt: "2018-05-28T11:41:03.258Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Clase 5/28"
content: '''
  ### Clase 5/28
  
  
'''
tags: []
isStarred: false
isTrashed: false
