createdAt: "2018-06-27T20:10:44.095Z"
updatedAt: "2018-07-10T04:11:01.672Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: "Fórmulas auxiliares"
content: '''
  <img src="/:storage/EDPS.png" width=384 height=100>
  
  ###### (Ariel Nowik: anowik@itba.edu.ar - correcciones, sugerencias, consultas)
  
  # Fórmulas auxiliares
  
  ### Ecuaciones difierenciales ordinarias
  |Forma|Solución|Alternativa
  |:---:|:---:|:---:|
  |$X''+a^2 X=0 \\; \\;$ | $Acos(ax)+Bsin(ax)$ | $Ae^{iax}+Be^{-iax}$
  |$X''-a^2X=0 \\; \\;$ | $Ach(ax)+Bsh(ax)$ | $Ae^{ax}+Be^{-ax}$
  |$X''=0$ | $Ax+B$ | <br>
  |$X'+aX=0$ | $Ae^{-ax}$ | <br>
  |$X''x^2+X'x-a^2X=0$| $Ax^{+a}+Bx^{-a}$ | <br>
  |$X''x^2+X'x=0$|$Aln(x)+B$ | <br>
  ### Sturm Liouville $\\implies f''(x)+\\lambda f(x)=0$
  
  Caso|Detalles | $\\lambda_n$ | $f(x)$ 
  :---:|:---:|:---:|:---:|
  $0<x<L$ |$f(0)=f(L)=0$ | $(\\frac{n\\pi}{L})^2$ | $sin(\\frac{\\pi n}{L}x) \\; \\; n \\epsilon N$
  $0<x<L$|$f'(0)=f'(L)=0$ | $(\\frac{n\\pi}{L})^2$ | $cos(\\frac{\\pi n}{L}x) \\; \\; n \\epsilon N_0$
  $-\\pi<x<\\pi$|$f(-\\pi)=f(\\pi)$<br>$f'(-\\pi)=f'(\\pi)$|$n^2$|$cos(nx),sin(nx)\\;n\\epsilon N_0 \\;\\tiny{(1)}$
  (1) : Son dos autofunciones por cada autovalor, salvo para $n=0$, donde la autofuncion es $1$
  
  ### Series utiles
  $$f(x)=\\sum_{n\\epsilon N_0}a_ncos(\\frac{\\pi n}{L}x) \\implies a_n=\\frac{2}{L}\\int_{0}^{L}f(x)cos(\\frac{\\pi n}{L}x)dx \\; \\; \\; (0<x<L)$$ 
  $$f(x)=\\sum_{n\\epsilon N} b_nsin(\\frac{\\pi n}{L}x) \\implies b_n=\\frac{2}{L}\\int_{0}^{L}f(x)sin(\\frac{\\pi n}{L} x)dx \\; \\; \\; (0<x<L)$$
  
  ## Transformadas raras
  
  $$e^{-x^2}\\underbrace{\\to}_{F}\\sqrt{\\pi}e^{-\\pi^2f^2} \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; e^{-k4\\pi^2x^2t}\\underbrace{\\to}_{F}\\frac{1}{{\\sqrt{4\\pi k t}}}e^{-f^2/(k4t)} \\; \\;t>0 \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; e^{-\\vert x \\vert a} \\underbrace{\\to}_{F}\\frac{2a}{a^2+4\\pi^2f^2} $$
  
  
  
  # E.D.D.P.s con Series de Fourier
  
  # Rectángulo finito
  <img src="/:storage/bitmap.png">
  
  
  
  $$u(0,y)=u(L,y)=0\\;\\;\\;\\;\\;o\\;\\;\\;\\;\\;\\frac{\\partial u}{\\partial x}(0,y)= \\frac{\\partial u}{\\partial x}(L,y)=0$$
  **Ecuación** (es siempre la misma)
  $$\\frac{\\partial u^2}{\\partial x^2}+\\frac{1}{c^2}\\frac{\\partial u^2}{\\partial y^2}=0\\;\\;\\;\\;\\;0<x<L\\;\\;\\;\\;\\;0<y<a$$
  $$u(x,0)=f(x)\\;\\;\\;\\;\\;u(x,a)=g(x)$$
  (tambien se podrian dar como condicion inicial las derivadas de u respecto a y, cambia levemente)
  
  **Formato de solución**
  $$u(0,t)=u(L,t)=0 \\implies u(x,y)=\\sum_{n=1}^{\\infty}Y_n(y)sin(\\frac{\\pi n}{L}x) $$
  $$\\frac{\\partial u}{\\partial x}(0,y)=\\frac{\\partial u}{\\partial x}(L,y)=0 \\implies u(x,y)=\\sum_{n=0}^{\\infty}Y_n(y)cos(\\frac{\\pi n}{L}x)$$
  
  
  **Ecuacion diferencial asociada**
  
  **Caso 1 $\\implies c^2>0$** 
  $$Y_n''-c^2\\underbrace{(\\frac{\\pi n}{L})^2}_{\\lambda_n} Y_n=0 \\implies Y_n(y)=\\begin{cases}A_nch(c\\frac{\\pi n}{L}y)+B_nsh(c\\frac{\\pi n} {L}y)  & n > 0\\\\ A_0+B_0y & n=0\\;(si\\;corresponde)\\end{cases}$$
  <br>
  <br>
  
  **Caso 2 $\\implies c^2<0 \\implies d^2=-c^2>0$** 
  $$Y_n''+d^2\\underbrace{(\\frac{\\pi n}{L})^2}_{\\lambda_n} Y_n=0 \\implies Y_n(y)=A_ncos(d\\frac{\\pi n}{L}y)+B_nsin(d\\frac{\\pi n}{L}y)$$ 
  
  
  
  # Rectángulo infinito
  <img src="/:storage/bitmap2.png">
  
  
  En todos los casos se necesita conocer
  $$u(0,t)=u(L,t)=0\\;\\;\\;\\;\\;o\\;\\;\\;\\;\\;\\frac{\\partial u}{\\partial x}(0,t)= \\frac{\\partial u}{\\partial x}(L,t)=0 \\;\\;\\;\\; t>0$$
  
  
  
  ### Caso homogéneo
  
  **Formato de solución**  (es el mismo siempre)
  $$u(0,t)=u(L,t)=0 \\implies u(x,t)=\\sum_{n=1}^{\\infty}T_n(t)sin(\\frac{\\pi n}{L}x) $$
  $$\\frac{\\partial u}{\\partial x}(0,t)=\\frac{\\partial u}{\\partial x}(L,t)=0 \\implies u(x,t)=\\sum_{n=0}^{\\infty}T_n(t)cos(\\frac{\\pi n}{L}x)$$
  **Caso 1:** Primer orden
  $$\\frac{\\partial ^2u}{\\partial x^2}=\\frac{1}{k}\\frac{\\partial u}{\\partial t} \\; \\; \\;\\ 0<x<L\\;\\;\\;t>0$$
  $$u(x,0)=f(x)\\; \\; \\;\\ 0<x<L$$
  **Ecuacion diferencial asociada**
  $$T_n'+k\\underbrace{(\\frac{\\pi n}{L})^2}_{\\lambda_n}T_n=0\\implies T_n(t)=A_ne^{-k\\lambda_nt}$$
  <br>
  <br>
  <br>
  <br>
  <br>
  
  **Caso 2:** Segundo orden
  $$\\frac{\\partial ^2u}{\\partial x^2}=\\frac{1}{c^2}\\frac{\\partial^2 u}{\\partial t^2} \\; \\; \\;\\ 0<x<L\\;\\;\\;t>0$$
  $$u(x,0)=f(x)\\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\frac{\\partial u}{\\partial t}(x,0)=g(x)\\; \\; \\;\\ 0<x<L$$
  
  **Ecuacion diferencial asociada**
  
  $$T_n''+c^2\\underbrace{(\\frac{\\pi n}{L})^2}_{\\lambda_n} T_n=0 \\implies T_n(t)=A_ncos(c\\frac{n\\pi}{L}t)+B_nsin(c\\frac{n\\pi}{L}t)$$
  
  
  **Caso 3:** Segundo orden inusual
  $$\\frac{\\partial ^2u}{\\partial x^2}+\\frac{1}{c^2}\\frac{\\partial^2 u}{\\partial t^2}=0 \\; \\; \\;\\ 0<x<L\\;\\;\\;t>0$$
  $$u(x,0)=f(x)\\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; u(x,\\infty)=0\\; \\; \\;\\ 0<x<L$$
  **Ecuacion diferencial asociada**
  $$T_n''-c^2\\underbrace{(\\frac{\\pi n}{L})^2}_{\\lambda_n} T_n=0 \\implies T_n(t)=A_ne^{-t(c\\pi n)/L}+B_ne^{t(c\\pi n)/L}$$
  $$u(x,\\infty)=0 \\implies B=0\\implies T_n(t)=T_n(0)e^{-t(c\\pi n)/L}$$
  (Se podria dar otra condicion de borde en lugar de $u(x,\\infty)=0$, solo cambiaria los valores de $A_n$,$B_n$. Cuidado si se llega a dar $n=0$ )
  ### Caso no homogéneo (Dificil)
  La forma de resolver el problema homogéneo es dividiendo la solucion buscada en dos.
  $$u(x,t)=\\underbrace{u_0(x,t)}_{solucion \\;no\\;homgenea}+\\underbrace{ u_1(x,t) }_{solucion\\;homogénea\\;asociada}$$
  Se resuelve entonces primero el problema homogéneo (con los métodos del caso homogéneo) y luego se procede a resolver la parte no homogéneo. 
  Para ello se supone **nulas** las codiciones iniciales que no son de Sturm Liouville, las que afectan la ecuación diferencial de $T(t)$ y se propone, derivando, y reemplazando los siguientes formatos de soluciones:
  $$u(x,t)=\\sum_{n=1}^{\\infty}T_n(t)sin(\\frac{\\pi n}{L}x) \\;\\;\\;\\;\\;\\;\\; u(x,t)=\\sum_{n=0}^{\\infty}T_n(t)cos(\\frac{\\pi n}{L}x)$$
  Al realizar el procedimiento pueden ocurrir dos casos:
  <br>
  <br>
  
  **Caso 1:** Primer orden
  $$\\frac{\\partial ^2u}{\\partial x^2}+F(x,t)=\\frac{1}{k}\\frac{\\partial u}{\\partial t} \\; \\; \\;\\ 0<x<L\\;\\;\\;t>0$$
  Ecuación diferencial asociada a la solucion no homogénea
  $$\\frac{1}{k}T_n'(t)+\\underbrace{(\\frac{\\pi n}{L})^2}_{\\lambda_n}T_n(t)=c_n(t)=\\begin{cases}\\frac{2}{L}\\int_{0}^{L}{F(x,t)\\sin(\\frac{n\\pi}{L}x)dx }\\\\ \\frac{2}{L}\\int_{0}^{L}F(x,t)cos(\\frac{n\\pi}{L}x)dx\\end{cases}\\;\\;\\;\\;\\;\\;T_n(0)=0 $$
  $$T_n(t)=k\\int_{0}^{t}c_n(\\tau)e^{-k\\lambda_n(t-\\tau)}d\\tau$$
  **Caso 2:** Segundo orden
  $$\\frac{\\partial ^2u}{\\partial x^2}+F(x,t)=\\frac{1}{c^2}\\frac{\\partial^2 u}{\\partial t^2} \\; \\; \\;\\ 0<x<L\\;\\;\\;t>0$$
  Ecuación diferencial asociada a la solucion no homogénea
  $$\\frac{1}{c^2}T_n''+\\underbrace{(\\frac{\\pi n}{L})^2}_{\\lambda_n} T_n=c_n(t)=\\begin{cases}\\frac{2}{L}\\int_{0}^{L}{F(x,t)\\sin(\\frac{n\\pi}{L}x)dx }\\\\ \\frac{2}{L}\\int_{0}^{L}F(x,t)cos(\\frac{n\\pi}{L}x)dx\\end{cases}\\;\\;\\;\\;\\;\\;T_n(0)=T_n'(0)=0$$
  $$T_n(t)=\\frac{c}{\\sqrt{\\lambda_n}}\\int_{0}^{t}c_n(\\tau)sin(c\\sqrt{\\lambda_n}(t-\\tau))d\\tau$$
  **Nota**: Estas ecuaciones diferenciales se resuelven con algun metodo para proponer solucion particulares (que dependera del caso), o con laplace.
  
  
  # Disco
  
  <img src="/:storage/disco.png">
  
  **Ecuación** (es siempre la misma)
  
  $$\\frac{1}{r}\\frac{\\partial}{\\partial r}(r\\frac{\\partial u}{\\partial r})+\\frac{1}{r^2}\\frac{\\partial ^2u}{\\partial \\theta^2}=0 \\; \\;\\;\\; \\; 0\\leq r_1 <r_2 \\; \\; \\; -\\pi<\\theta\\leq\\pi$$
  <br>
  <br>
  <br>
  
  **Formato de solución**
  
  $$u(r,\\theta)=R_0(r)+\\sum_{n=1}^{\\infty}R_{n1}(r)cos(n\\theta)+R_{n2}(r)sin(n\\theta)$$
  
  
  Hay dos casos muy parecidos, solo cambian las condicioens de borde:
  #### Caso 1
  $$u(r_1,\\theta)=f_1(\\theta)\\;\\;\\;\\;\\;\\; u(r_2,\\theta)=f_2(\\theta) \\;\\;\\;\\;\\;\\; -\\pi<\\theta\\leq\\pi$$
  #### Caso 2
  $$\\frac{\\partial u}{\\partial r}(r_1,\\theta)=f_1(\\theta)\\;\\;\\;\\;\\;\\; \\frac{\\partial u}{\\partial r}(r_2,\\theta)=f_2(\\theta) \\;\\;\\;\\;\\;\\; -\\pi<\\theta\\leq\\pi$$
  
  **Ecuación diferencial asociada**
  
  $$r^2R_{n}''(r)+rR_n'(r)-n^2R_n(r)=0 \\implies R_n(r)=\\begin{cases}A_0+B_0ln(r) & n=0 \\\\ A_nr^n+B_nr^{-n} & n > 0\\end{cases}$$
  $$R_{n1}(r)=A_{n1}r^{n}+B_{n1}r^{-n} \\; \\; \\; \\; R_{n2}(r)=A_{n2}r^n+B_{n2}r^{-n}$$
  Para conseguir las condiciones iniciales de cada ecuación diferencial se utilizan las dos condiciones de borde de cada caso, el formato de solucion y las formulas de la serie trigonometrica de fourier para exigir valores de $R(r_1),R(r_2)$ para todos los valores de $n$
  
  # Bordes sin condiciones homogéneas
  Si se tiene 
  $$u(x,t)=\\begin{cases} \\alpha(t) & x=0 \\\\ \\beta(t) & x=L\\end{cases} $$
  Se propone
  $$u(x,t)=\\underbrace{\\alpha(t)+\\frac{x}{L}(\\beta(t)-\\alpha(t))}_{w(x,t)}+v(x,t)$$
  Y se corrige la ecuacion diferencial en consecuecia derivando y reemplazando
  
  De la misma forma si se tiene
  
  $$\\frac{\\partial u}{\\partial x}=\\begin{cases} \\alpha(t) & x=0 \\\\ \\beta(t) & x=L\\end{cases}$$
  $$u(x,t)=\\underbrace{\\alpha(t)+\\frac{x^2}{2L}(\\beta(t)-\\alpha(t))}_{w(x,t)}+v(x,t)$$
  
  
  # E.D.D.P.s Con Transformada de Fourier
  <img src="/:storage/fourier_bi.png">
  
  ## Formatos Tipo
  
  
  
  **Ejemplo 1: Primer orden**, Formato:
  $$\\frac{\\partial ^2u}{\\partial x^2}=\\frac{1}{k}\\frac{\\partial u}{\\partial t}\\;\\;\\;\\; x\\epsilon R\\;\\;t>0$$ 
  $$u(x,0)=f(x)$$
  
  **Ecuacion diferencial asociada**
  $$U_t(f,t)-\\underbrace{k4 \\pi^2f^2}_{a}U(f,t)=0 \\implies U(f,t)=U(f,0)e^{-k4\\pi^2f^2t}$$
  $$U(f,t) \\underbrace{\\to}_{F^{-1}}u(x,0)*\\frac{1}{\\sqrt{4\\pi kt}}e^{-x^2/(k4t)}=\\frac{1}{\\sqrt{4\\pi kt}}\\int_{-\\infty}^{\\infty}g(\\xi)e^{-(x-\\xi)^2 }d\\xi\\;\\;\\;\\;\\;\\;\\;\\;\\;t>0 $$
  $$u(f,t) \\underbrace{\\to}_{F^{-1}}g(x) \\;\\;\\;\\;\\;\\;\\;\\;\\;t=0$$
  **Ejemplo 2: Primer orden**, Formato:
  $$\\frac{\\partial ^2u}{\\partial x^2}-tu=\\frac{\\partial u}{\\partial t} \\;\\ ;\\; x\\epsilon R \\;\\; t>0$$
  $$U(x,0)=G(x)$$
  $$U_{tt}(f,t)+(t+(2\\pi f)^2)U(f,t)=0 \\underbrace{\\implies}_{variables\\;separables}U(f,t)=G(f)e^{-4\\pi^2f^2t-\\frac{t^2}{2}}$$
  $$U(f,t)\\underbrace{\\to}_{F^{-1}}g(x)*\\frac{1}{\\sqrt{4\\pi t}}e^{-t^2/2}e^{-x^2/(4t)}=\\frac{1}{\\sqrt{4\\pi t}}e^{-t^2/2}\\int_{-\\infty}^{\\infty}g(\\xi)e^{(x-\\xi)^2/(4t)}d\\xi\\;\\;\\;\\;\\;\\;\\;\\;t>0$$
  $$U(f,t) \\underbrace{\\to}_{F^{-1}}g(x)\\;\\;\\;\\;\\;\\;\\;t=0$$
  <br>
  <br>
  <br>
  <br>
  
  **Ejemplo 3: segundo orden**, Formato:
  $$\\frac{\\partial ^2u}{\\partial x^2}=\\frac{1}{c^2}\\frac{\\partial ^2 u}{\\partial t^2}\\;\\;\\;\\; x\\epsilon R\\;\\;t>0$$
  $$u(x,0)=g(x) \\; \\;\\ \\; \\;\\; \\; \\; \\; \\frac{\\partial u}{\\partial x}(x,0)=h(x)$$
  **Ecuacion diferencial asociada**
  $$ U_{tt}(f,t)+(2 \\pi fc)^2U(f,t)=0 \\implies U(f,t)=G(f)cos(2\\pi fct)+H(f)\\frac{1}{2\\pi fc}sin(2\\pi fct)$$
  **Ejemplo 4: segundo orden**, Formato:
  $$\\frac{\\partial ^2 u}{\\partial x^2}+\\frac{\\partial ^2u}{\\partial y^2}=0$$
  $$u(x,0)=g(x)$$
  (hay una condicion inicial pero al pedir que la solución sea acotada surgen las restricciones adicionales necesarias)
  **Ecuacion diferencial asociada**
  $$U_{yy}(f,y)-(2\\pi f)^2U(f,y)=0 \\implies U(f,y)=G(f)e^{-2\\pi|f|y}$$
  $$ G(f)e^{-2\\pi|f|y} \\underbrace{\\to}_{F^{-1}}g(x)*\\frac{4\\pi y}{(2\\pi y)^2+4\\pi^2x^2}=\\int_{-\\infty}^{\\infty}g(\\xi)\\frac{4\\pi y}{(2\\pi y)^2+4\\pi(x-\\xi)^2}d\\xi$$
  **Ejemplo 5: segundo orden**, Formato:
  $$\\frac{\\partial ^2 u}{\\partial x^2}+\\frac{\\partial ^2 u}{\\partial y^2}=c(x)$$
  $$u(x,0)=0 \\; \\;\\ \\; \\; u(x,1)=0$$
  **Ecuacion diferencial asociada**
  $$U_{yy}(f,y)-(2\\pi f)^2U(f,y)=G(f) \\implies U(f,y)=A(f)cosh(2\\pi fy)+B(f)sinh(2\\pi fy)+C(f)$$
  Resolucion muy complicada - pendiente
  
'''
tags: []
isStarred: false
isTrashed: false
