createdAt: "2018-04-28T14:49:05.665Z"
updatedAt: "2018-05-28T02:09:02.600Z"
type: "MARKDOWN_NOTE"
folder: "e58a84a619a157cea5b5"
title: ""
content: '''
  <img src="/:storage/apuntesariP1.png">
  
  ###### (Ariel Nowik: anowik@itba.edu.ar - Consultas - correcciones - sugerencias)
  
  ### Famosos transformada de fourier continua
  
  $x(t)$ | $X(f)$
  :---:|:---:
  $X(t)$| $x(-f)$ 
  $x(t-t_0)$ | $e^{-j2\\pi ft_0}X(f)$ 
  $e^{j2\\pi f_0 t}x(t)$ | $X(f-f_0)$ 
  $x(at)$ | $\\frac{1}{\\|a\\|} X(f/a)$ 
  $(x*y)(t)$|$XY(f)$ 
  $xy(t)$|$(X*Y)(-f)$ 
  $x^{(n)}(t)$ | $(j2\\pi f)^{(n)}X(f)$ 
  $t^{n}x(t)$ | $\\frac{1}{(-j2\\pi )^{(n)}} \\frac{d^{n}}{df^{n}}X(f)$
  $\\delta(t-t_0)$ | $e^{-j2\\pi ft_0}$
  $e^{j2\\pi f_0 t}$ | $\\delta(f-f_0)$
  $\\Lambda(\\frac{t}{\\tau})$ | $\\tau sinc^2(\\tau f)$
  $\\Pi(\\frac{t}{\\tau})$ | $\\tau sinc(\\tau f)$
  $u(t)$ | $\\frac{\\delta(f)}{2}+\\frac{1}{j2\\pi f}$
  $signo(t)$ | $\\frac{1}{j\\pi f}$
  $cos(2\\pi f_0 t)$ | $\\frac{1}{2}\\delta(f-f_0)+\\frac{1}{2}\\delta(f+f_0)$
  $sin(2\\pi f_0 t)$ | $\\frac{1}{2j}\\delta(f-f_0)-\\frac{1}{2j}\\delta(f+f_0)$
  $e^{-\\alpha t}u(t)$ | $\\frac{1}{\\alpha + j2\\pi f} , \\alpha >0$
  $e^{-\\alpha \\|t\\|}$ | $\\frac{2\\alpha}{\\alpha^2+(2\\pi f)^2}$ 
  $x(t)$ periodica | $\\sum_{n=-\\infty}^{\\infty}X_n\\delta(f-n/T)$
  $\\sum_{n=-\\infty}^{\\infty}\\delta(t-nT)$ | $\\sum_{n=-\\infty}^{\\infty}\\frac{1}{T}\\delta(f-\\frac{n}{T})$
  $\\int_{-\\infty}^{t}x(\\tau) d\\tau$ | $\\frac{X(0)}{2}\\delta (f)+\\frac{X(f)}{i2\\pi f}=X(f)*F(u(t))$
  
  ### Famosos transformada discreta de fourier
  
  $x(n)$ | $X(f)$
  :---:|:---:
  $x(n-n_0)$|$X(f)e^{-i2\\pi fn_0}=X(f)s^{n_0}$
  $x(n)e^{i2\\pi f_0n}$|$X(f-f_0)$
  $e^{i2\\pi f_0n}$ | $\\delta(f-f_0)$
  $x(n)$ periodica | $\\sum_{k=0}^{N-1}a_k\\delta(f-\\frac{k}{N})$
  $x*y(n)$ | $X(f)Y(f)$
  $x(n)y(n)$ | $\\int_{0}^{1}X(s)Y(f-s)ds$
  $n^{k}x(n)$| $(\\frac{-1}{i2\\pi})^{k}\\frac{d^k}{df^k}X(f)$
  $u(n)$|$\\frac{\\delta(f)}{2}+\\frac{1}{1-e^{-i2\\pi f}}=\\frac{\\delta(f)}{2}+\\frac{1}{1-s}$
  $\\alpha^{n}u(n)$|$\\frac{1}{1-\\alpha e^{-i2\\pi f}}=\\frac{1}{1-\\alpha s},\\|\\alpha \\|<1$
  $n\\alpha^{(n)}u(n)$ | $\\frac{\\alpha e^{-i2\\pi f}}{(1-\\alpha e^{-i2\\pi f})^2}=\\frac{\\alpha s}{(1-\\alpha s)^2},\\|\\alpha \\|<1$
  
  ### Integrales utiles
  $x(t)$ | $\\int x(t) dt$
  :---:|:---:
  $te^{at}$|$\\frac{e^{at}}{a}(t-\\frac{1}{a})$
  $tcos(at)$|$\\frac{cos(at)}{a^2}+\\frac{tsin(at)}{a}$
  $tsin(at)$|$\\frac{sin(at)}{a^2}-\\frac{tcos(at)}{a}$
  ### Definiciones
  
  Serie de fourier trigonometrica continua
  
  $$x(t) \\sim a_0+\\sum_{k \\geq 1}a_kcos(2\\pi kt/T)+b_ksin(2\\pi kt/T)$$
  Coeficientes serie de fourier trigonometrica continua
  $$a_0=1/T 
  \\int_{t_0}^{t_0+T}x(t)dt \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\;a_k=2/T\\int_{t_0}^{t_0+T}x(t)cos(2\\pi kt)dt \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; b_k=2/T\\int_{t_0}^{t_0+T}x(t)sin(2\\pi kt)dt$$
  Parseval serie de fourier trigonometrica continua
  $$ \\frac{2}{T} \\int_{t_0}^{t_0+T}|x(t)|^2dt=2|a_0|^2+\\sum_{k\\geq1}|a_k|^2+|b_k|^2$$
  
  <br> Serie de fourier exponencial continua
  $$x(t) \\sim \\sum_{k \\epsilon Z}X_ke^{i2\\pi kt/T}$$
  Coeficientes de fourier exponencial continua
  $$ X_k=1/T\\int_{t_0}^{t_0+T}x(t)e^{-i2\\pi kt/T} dt$$
  Parseval serie de fourier exponencial continua
  $$\\frac{1}{T} \\int_{t_0}^{t_0+T}|x(t)|^2dt=\\sum_{k \\epsilon Z}|X_k|^2$$
  Serie de fourier discreta
  $$x(n)=\\sum_{k=k_0}^{k_0+N-1}c_k e^{i2\\pi kn/N}$$
  Coeficientes de fourier discreta
  $$c_k=1/N\\sum_{n=n_0}^{n_0+N-1}x(n)e^{-i2\\pi nk/N}$$
  
  
  Transformada de fourier continua
  $$X(f)=\\int_{-\\infty}^{\\infty}x(t)e^{-i2\\pi ft}dt \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\; \\;  x(t)=\\int_{-\\infty}^{\\infty}X(f)e^{i2\\pi ft}df$$
  
  Transformada de fourier discreta
  $$X(f)=\\sum_{n=-\\infty}^{\\infty}x(n)e^{-i2\\pi fn} \\; \\; \\; \\; \\; \\; x(n) = \\int_{t_0}^{t_0+1}X(f)e^{i2\\pi f n}df$$
  
'''
tags: []
isStarred: false
isTrashed: false
