createdAt: "2018-04-11T01:45:19.998Z"
updatedAt: "2018-04-11T01:45:59.307Z"
type: "MARKDOWN_NOTE"
folder: "9037f5322e315264945d"
title: "Sarmiento"
content: '''
  ### Sarmiento
  
  "Los anuncios en los estados unidos son por tolda la union una obra de arte y la muestra mas inequivoca del adelanto del pais"
  
  "Me he divertido en españa y toda america del sur, examinando aquellos letreros donde los hay, hechos con caracteres raquíticos y jorobados y ostentando en errores de ortografia la ignorancia supina del artesano o aficionado que lso formo.
  
  "El norteamericano es un literato clasico en la materia de anuncios"
  
  "Hay igualdad en el aspecto en la poblacion en el vestido, en los modales y aun en la inteligencia, el comerciante, el doctor, el sheriff, el cultivador, todos tienen el mismo aspecto"
  
  "La igualdad pues es absoluta en las constumbres y en las formas. Los grados de civilizacion o de riqueza no estan expresados como entre nosotros por cosrrtes especiales de vestido"
  
  "La parte mas caracteristica de aquel pueblo es su aptitud para apropiarse, generalizar, vulgarizar, conservar y perfeccionar todos los usos, instrumentos, proceders y auxiliosque la mas adelantada civilizacion ha puesto en manos de los hombres "
  
  "No hay rutina invencible que demore por siglos la adopcion de una mejora conocida; por el contrario una predisposcion a adpotar el todo"
  
  "la españa y sus descendientes se presentan hoy en el teatro del mundo moderno destituidos de todos las dotes que la vida de nuestra epoa requere"
  
  "Carecen de medios de accion, por su falta radical de aquellos conocimientos en la ciencias naturales o fisicas, que en los demas paises de Europa han creado una poderosa industra que da ocupacion a todos l,os individuos de la sociedad.
  
  La produccion hija del trabajo no peude hacerse hoy en una escala provechosa, sino por la instruccion de los medios mecanicos que ha conquistado la industria de los otros paises..
  
  Y si la educacion no prepara a las venideras generazacions para esta necesaria adaptacion de los medios de trabajo el resultado sera la pobreza y la oscuridad nacional.
  
  "Todos estamos de acuerdo en la ineptitud industrial de nuestras masas, producida por la falta de tradiciones de trabajo y de la adquisision de muchas de aquellas practicas.
  
  La instruccion derramada con tenacidad, con profusion, con generalidad entre la clase trabajadora, solo puwede obviar a la insuperable dificultad que a los progresos de la industria oponen la incapacidad natural de nuestras gentes.
  
  "La concurrencia de los niños a la escuela trae el efecto moralizador de absorber uina parte de tiempo, que sin ella seria disipado en la ociosidad"
  
  "la comparacion de las fuerzas de una nacion no ya segun el numero de habitantes sino segun el mayor grade de desenvolvimiento que a sus masas da la educacion recibida"
  
  
'''
tags: []
isStarred: false
isTrashed: false
