type: "MARKDOWN_NOTE"
content: '''
  (Ariel Nowik: anowik@itba.edu.ar )
  # Formulas guia 1,2,3
  
  ### Posición
  
  **(Revisado $\\checkmark$)**
  $$x' = \\gamma (x- vt)$$
  $$y' = y$$
  $$z' = z$$
  $$t' = (t-\\frac{v}{c^2}x)$$
  $$ \\gamma = \\frac{1}{\\sqrt{1-v^2/c^2}} $$
  
  ### Velocidad
  **(Revisado $\\checkmark$)**
  $$u_{x}'=\\frac{u_{x}-v}{1-u_{x}v/c^2}$$
  $$u_{y}'=\\frac{u_{y}}{\\gamma(1-u_{x}v/c^2)}$$
  $$u_{z}'=\\frac{u_{z}}{\\gamma(1-u_{x}v/c^2)}$$
  
  ### Efecto Doppler relativista
  **(Revisado $\\checkmark$)**
  $$f_{obs}=f_{fuente}\\frac{\\sqrt{1+v/c}}{\\sqrt{1-v/c}}$$
  
  ### Cantidad de movimiento
  **(Revisado $\\checkmark$)**
  
  $$\\vec p=\\gamma m_0 \\vec u$$
  $$\\vec F = \\frac{d\\vec{p}}{dt}$$
  $$\\vec F = q\\vec{v} \\times\\vec B$$
  
  ### Energía
  **(Revisado $\\checkmark$)**
  
  $$E = m_0c^2 + K = \\gamma m_0c^2$$
  $$E^2=\\vec p^2c^2+m_0^2c^4$$
  #### En fotones
  **(Revisado $\\checkmark$)**
  $$E = pc$$
  
  ### Formulas guia 3
  **(En construcción)**
  
  ### Potencia emitida
  $$[e_{total}] = [\\frac{W}{m^{2}}]$$
  
  $$[e_\\lambda] = [\\frac{W}{m^3}] $$
  si $\\triangle \\lambda$ es chico
  $$e_\\lambda*\\triangle\\lambda \\approx e_{(\\lambda,\\lambda+\\triangle\\lambda)}$$ 
  
  $$e_{total} = \\int_{0}^{\\infty}e_\\lambda d\\lambda$$
  
  ### Ley de Kirchhoff
  $$
  
  e_f
  =J(f,T)A_f
  $$
  En cuerpos negros $A_f=1$
  
  $$e_{total}=\\int_{0}^{\\infty}e_f df = \\sigma T^4 $$
  
  ### Ley de Stefan
  $$e_{total} = a\\sigma T^4$$
  
  ### Ley del desplazamiento de Wien
  $$\\lambda_{max}b=T $$
  
  
  $$J(f,T)=u(f,T)c/4$$
  
  ### Aproximacion de Wien de u
  Funciona si $\\lambda$ es chico, en $UV$
  $$u(f,T)=Af^3e^{-Bf/T}$$
  
  ### Aproximacion de Rayleigh-Jeans de u
  Funciona si $\\lambda$ es grande, en $IR$
  $$u(\\lambda,T)=\\frac{8\\pi}{\\lambda^4}k_bT$$
  
  ### Numero de resonadores
  $$N(f)df=\\frac{8\\pi f^2}{c^3}{df}$$
  
  ### Ley de Planck
  $$u(\\lambda,T)=\\frac{8\\pi hc}{\\lambda^5(e^{hc/(\\lambda k_b T)}-1)}$$
  
  ### Efecto fotoelectrico
  
  $$K_e=hf-w$$
  $$\\phi \\to w\\;en\\;la\\;superficie$$
  
  
  
  
  
'''
title: "Formulas guia 1,2,3"
folder: "58c175c2f5d0af47f676"
createdAt: "2018-03-28T01:28:21.333Z"
updatedAt: "2018-03-29T04:12:18.973Z"
isStarred: false
isTrashed: false
tags: [
  "Formulas"
]
isPinned: false
