createdAt: "2018-03-19T02:03:33.866Z"
updatedAt: "2018-03-25T04:14:16.576Z"
type: "MARKDOWN_NOTE"
folder: "58c175c2f5d0af47f676"
title: "Formulas guia 1 y 2"
content: '''
  (Ariel Nowik: anowik@itba.edu.ar )
  # Formulas guia 1 y 2
  
  ### Posición
  $$x' = \\gamma (x- vt)$$
  $$y' = y$$
  $$z' = z$$
  $$t' = (t-\\frac{v}{c^2}x)$$
  $$ \\gamma = \\frac{1}{\\sqrt{1-v^2/c^2}} $$
  
  ### Velocidad
  
  $$u_{x}'=\\frac{u_{x}-v}{1-u_{x}v/c^2}$$
  $$u_{y}'=\\frac{u_{y}}{\\gamma(1-u_{x}v/c^2)}$$
  $$u_{z}'=\\frac{u_{z}}{\\gamma(1-u_{x}v/c^2)}$$
  
  ### Efecto Doppler relativista
  
  $$f_{obs}=f_{fuente}\\frac{\\sqrt{1+v/c}}{\\sqrt{1-v/c}}$$
  
  ### Cantidad de movimiento
  
  $$\\vec p=\\gamma m_0 \\vec u$$
  $$\\vec F = \\frac{d\\vec{p}}{dt}$$
  $$\\vec F = q\\vec{v} \\times\\vec B$$
  
  ### Energía
  
  $$E = m_0c^2 + K = \\gamma m_0c^2$$
  $$E^2=\\vec p^2c^2+m_0^2c^4$$
  #### En fotones
  $$E = pc$$
  
  #### En particulas
  $$E_{i} = \\gamma_i m_{i}c^2$$
  
  
  ### Formulas guia 3
  
  $$e_f=J(f,T)A_f$$
  
  $$e_f=J(f,T)$$
  
  
  $$e_j=\\int_{0}^{\\infty}e_f df = \\sigma T^4 $$
  
  $$e_{total} = a\\sigma T^4$$
  
  $$\\lambda_{max}=Tb $$
  
  $$J(f,T)=u(f,T)c/4$$
  
  $$u(f,T)=Af^3e^{-Bf/T}$$
  
  $$u(f,T)=\\frac{8\\pi h f^3}{c^3}(\\frac{1}{e^{hf/(k_bT)}-1})$$
  
  $$E_{resonador}=nhf$$
  
  $$n=1,2,3,...,$$
  
  $$\\triangle E = hf$$
  
  $$u(f,T)df=\\overline{E}N(f)df$$
  
  ### Unidades
  
  $$h = 
  
  
  
'''
tags: [
  "Formulas"
]
isStarred: false
isTrashed: false
