createdAt: "2018-03-15T02:40:18.002Z"
updatedAt: "2018-03-19T02:05:12.360Z"
type: "SNIPPET_NOTE"
folder: "e58a84a619a157cea5b5"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: '''
      This $$\\begin{Bmatrix}
       a & b \\\\
       c & d
      \\end{Bmatrix}$$ is a matrix
    '''
  }
]
tags: []
isStarred: false
isTrashed: true
