createdAt: "2018-03-20T01:30:51.469Z"
updatedAt: "2018-03-20T02:34:45.908Z"
type: "MARKDOWN_NOTE"
folder: "e3812fcbc179f38e2124"
title: "README"
content: '''
  ### README
  
  #### Aqui subo mis apuntes de 
  
  - Mate 5
  - Fisica 4
  - Probabilidad y Estadistica
'''
tags: []
isStarred: false
isTrashed: false
